/* 960 + */
.b-tool-project {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    min-height: 100%;
    padding-top: 32px;
    width: 100%;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 41px;
        padding: 0 78px 0 68px;

        // модификатор для страницы команды page-project-team
        &--team {
            padding: 0 69px 0 28px;
        }
    }

    &__title {
        font-family: @font-catesque-light;
        font-size: 22px;
        line-height: 23px;
        width: 250px;
    }

    &__link-brief,
    &__link-add,
    &__text {
        color: @cl-font-black;
        font-size: 12px;
        line-height: 20px;

        i {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__link-brief {
        i {
            margin: 0 5px 0 0;
        }

        .no-touch &:hover {
            color: @cl-Archiparti-red;
        }
    }

    &__plus {
        border-radius: 100%;
        border: 2px solid @cl-Archiparti-header-text;
        display: inline-block;
        height: 21px;
        line-height: 17px;
        margin-right: 11px;
        text-align: center;
        vertical-align: top;
        width: 21px;

        i {
            display: inline-block;
            font-size: 8px;
            vertical-align: middle;

            &:before {
                font-weight: 700;
            }
        }
    }

    &__add,
    &__text-block {
        padding: 0 78px 0 68px;

        // модификатор для страницы команды page-project-team
        &--team {
            padding: 0 69px 0 28px;
        }
    }

    &__add {
        flex-grow: 1;
    }

    &__link-add {
        color: @cl-Archiparti-header-text;
    }

    &__text-block {
        margin-bottom: 15px;
    }

    &__text {
        font-family: @font-catesque-bold;

        .no-touch &:hover {
            color: @cl-font-link;
        }
    }
}