/* 960 + */
.b-comment {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    overflow: hidden;
    display: inline-block;
    flex: 1;


    &--no-massege {
        display: flex;
        align-items: flex-end;
    }

    &__clear {
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
    }

    &__caption {
        font-size: 16px;
        line-height: 20px;
        padding-left: 33px;
        padding-right: 33px;
        margin-bottom: 0;
        color: @cl-font-white;
    }

    &__heart {
        padding-top: 24px;

        i {
            color: @cl-font-white;
        }
    }

    &__error {
        font-size: 12px;
        line-height: 20px;
        color: @cl-font-white;
        padding-left: 11px;
        padding-right: 11px;
        margin-bottom: 18px;
    }

    &__text {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }

    .ps-scrollbar-y-rail {
        display: none;
    }
}