/* 960 + */
.b-look {
    display: block;
    height: 100%;
    color: @cl-font-black;
    padding: 4px 0;

    i {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: 0;
    }
}