/* 960 + */
.b-project-percent {
    display: none;
    border: solid 2px @cl-Archiparti-black;
    border-left: none;
    height: calc(~"100% + 4px");
    width: 10px;
    margin-top: -2px;
    position: absolute;
    right: -12px;
    top: 0;
    background: linear-gradient(to bottom, @cl-Archiparti-white 21%, @cl-Archiparti-percent-1 70%, @cl-Archiparti-percent-1 81%);

    // загружено на 10%
    &--ten-percent {
        background: linear-gradient(to bottom, @cl-Archiparti-white 21%, @cl-Archiparti-percent-1 49%, @cl-Archiparti-percent-1 49%, @cl-Archiparti-percent-2 81%, @cl-Archiparti-percent-2 81%);
    }

    // загружено на 50%
    &--fifty-percent {
        background: linear-gradient(to bottom, @cl-Archiparti-white 21%, @cl-Archiparti-percent-3 50%, @cl-Archiparti-percent-4 81%, @cl-Archiparti-percent-4 81%);
    }

    // загружено на 90%
    &--ninety-percent {
        background: linear-gradient(to bottom, @cl-Archiparti-white 21%, @cl-Archiparti-percent-4 50%, @cl-Archiparti-percent-6 81%);
    }

    // загружено на 100%
    &--done {
        background: linear-gradient(to bottom, @cl-Archiparti-percent-9 21%, @cl-Archiparti-percent-7 50%, @cl-Archiparti-percent-8 81%);
    }

    .no-touch &:hover {
        width: 20px;
        right: -22px;

        transition: all .5s ease;
    }

    .no-touch .b-project-list__item:hover &,
    .b-project-list__item.active & {
        display: block;
    }

    .no-touch .b-aside--studio-menu .b-project-menu--project .b-project-list__item:hover &,
    .b-aside--studio-menu .b-project-menu--project .b-project-list__item.active &,
    .b-aside--max-menu .b-project-menu--studio-outer .b-project-list__item--active & {
        display: none;
    }


    .no-touch .b-project-list__item--studio:hover &,
    .b-project-list__item--active & {
        display: block;
    }
}