//-
//- archipati: modal-gallery
//- 04-10-2016: drtvader
//- ---------------------

//- Модальное окно с галереей BOOTSTRAP
//- mixin modal-gallery()
//-     +b.modal-gallery
//-         +e.carousel.carousel.slide(data-ride="carousel")#modal-gallery
//-             // Wrapper for slides
//-             +e.carousel-inner.carousel-inner(role="listbox")
//-                 +gallery__item-carousel('images/content/modal-gallery-1.jpg').active
//-                 +gallery__item-carousel('images/content/modal-gallery-2.jpg')
//-                 +gallery__item-carousel('images/content/modal-gallery-3.jpg')
//-             // Controls
//-             +e("a").carousel-control.left.carousel-control(href='#modal-gallery', role='button', data-slide='prev')
//-                 i.icon-back
//-             +e("a").carousel-control.right.carousel-control(href='#modal-gallery', role='button', data-slide='next')
//-                 i.icon-send
//-         +e.download
//-             +e('a').link(href='javascript:void(0);' title='download') Download
//-                 i.icon-arrow

//- SLICK
mixin modal-gallery()
    +b.modal-gallery
        +e.carousel
            // Wrapper for slides
            +e.carousel-inner.js-slick-slider
                +gallery__item-carousel('images/content/modal-gallery-1.jpg')
                +gallery__item-carousel('images/content/modal-gallery-2.jpg')
                +gallery__item-carousel('images/content/modal-gallery-3.jpg')
            // Controls
            //- +e("a").carousel-control.left.carousel-control(href='javascript:void();')
            //-     i.icon-back
            //- +e("a").carousel-control.right.carousel-control(href='javascript:void();')
            //-     i.icon-send
        +e.download
            +e('a').link(href='javascript:void(0);' title='download') Download
                i.icon-arrow


//- Archiparti: mixin news-carousel
//- 04-10-2016: drtvader
//- ---------------------
//- Item для карусели
mixin gallery__item-carousel(image)
    +e.item(class!=attributes.class)
        +e('img').image(src="#{image}" alt="" title="")
