//-
//- archipati: modal-message
//- 03-10-2016: drtvader
//- ---------------------

//- Модальное окно с контентом
mixin modal-message()
    +b.modal-message
        +e.icon-top
            i.icon-ok
        +e.title Thank You 
            +e('span').name Oddity! 
            | We will contact
            | you soon.
        +e.text
            p Here is some text with introduction to the next steps. Like: we need to contact other parties to approve the additional scope of work. Blah blah.