/* 960 + */
.b-tooltip {
    background: @cl-Archiparti-background-tooltip;
    border-radius: 5px;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 2;

    &.active {
        display: inline-block;
    }

    &:before {
        content: '';
        position: absolute;
    }

    .b-file-item:hover &--file,
    .b-info-task__mark:hover &--mini,
    .b-project-percent:hover &--mini,
    .b-project-menu__history:hover &--mini,
    .b-todo__icon:hover &--mini,
    .b-todo__icon:hover + &--status-change,
    .b-question--project-menu:hover + &--big {
        display: inline-block;
    }

    .b-question--project-menu:hover + &--big {
        left: 27px;
        opacity: 1;
        transition: opacity 0.5s ease;
        z-index: 1;
    }

    .b-info-task__mark:hover &--mini {
        margin: -26px 0 0 -52px;
    }

    .b-project-menu__history:hover &--mini {
        margin: -15px 0 0 46px;
        right: 0;
        top: 50%;
    }

    .b-project-menu__history--no-tooltip &--mini {
        opacity: 0;
        transform: translateX(500%);
        transition: left 0.4s ease-in-out, right 0.4s ease-in-out, transform 0.4s ease-in-out;

        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .b-todo__icon:hover &--mini {
        z-index: 4;
    }

    .b-todo__icon:hover + &--status-change {
        margin: -90px 0 0 -74px;
        top: 50%;
        left: 0;
    }

    // Когда стрелка находится наверху, то используем этот модификатор
    // положение по оси Х регулируем через свой модиикатор
    &--bottom-arrow {
        &:before {
            border: 5px solid transparent;
            border-top-color: @cl-Archiparti-background-tooltip;
            bottom: 0;
            left: 50%;
            margin-bottom: -10px;
            margin-left: -5px;
        }
    }

    &--left-arrow {
        &:before {
            border: 5px solid transparent;
            border-right-color: @cl-Archiparti-background-tooltip;
            left: 0;
            margin: -5px 0 0 -9px;
            top: 50%;
        }
    }

    // Модификатор для тултипа выбора статуса проекта
    &--status-change {
        border-radius: 35px;
        padding: 12px 26px;
        width: 168px;
    }

    // модификатор для тултипов содержащих текст
    &--mini {
        border-radius: 35px;
        left: 0;
        margin: -43px 0 0 -57px;
        padding: 4px 20px;
        text-align: center;
        top: 0;
        width: 136px;
    }

    // модификатор для большого тултипа содержащего текст
    &--big {
        bottom: 108px;
        display: inline-block;
        left: -9999px;
        opacity: 0;
        padding: 31px 19px 35px;
        transition: opacity 0.5s ease;
        width: 200px;
        z-index: 0;

        &:before {
            margin-left: -72px;
        }
    }

    &--file {
        margin: -48px 0 0 -40px;
    }

    &__link {
        opacity: 0.5;

        .no-touch &:hover {
            opacity: 1;
        }

        i {
            display: inline-block;
            font-size: 16px;
            margin-right: 9px;
            vertical-align: middle;
        }
    }

    &__text,
    &__link {
        color: @cl-font-white;
        display: block;
        font-size: 12px;
        line-height: 20px;
    }

    &__title {
        color: @cl-font-white;
        font-family: @font-catesque-bold;
        font-size: 15px;
        margin-bottom: 10px;
    }
}