/* 960 + */
.b-latest-message {
    border-bottom: 1px solid @cl-Archiparti-black;
    list-style-type: none;

    // используем модификатор на странице page-project-team и page-project
    &--project-diary {
        border-bottom: 2px solid @cl-Archiparti-black;
    }

    &__link {
        color: @cl-Archiparti-white;
        display: block;
        font-size: 12px;
        padding: 25px 30px 18px 10px;
        text-decoration: none;

        .no-touch &:hover {
            background: @cl-Archiparti-black;
            opacity: 1;

            transition: all .5s ease;

            &:first-child {
                border-top-left-radius: 5px; /* Левый верхний уголок */
                border-top-right-radius: 5px; /* Правый верхний уголок */
            }
        }

        // используем модификатор на странице page-project-team и page-project
        &--project-diary {
            padding: 16px 18px 15px 8px;

            .no-touch &:hover {
                background: @cl-Archiparti-white;

                &:first-child {
                    border-radius: 0;
                }
            }
        }
    }

    &__images {
        display: inline-block;
        vertical-align: top;
        width: 28%;
    }

    &__image-inner {
        display: inline-block;
        height: 45px;
        margin-left: 5px;
        position: relative;
        width: 45px;
    }

    &__icon {
        border-radius: 100%;
        bottom: 50%;
        color: @cl-Archiparti-white;
        height: 20px;
        margin-bottom: -23px;
        margin-right: -23px;
        position: absolute;
        right: 50%;
        text-align: center;
        width: 20px;

        i {
            display: inline-block;
            font-size: 10px;
            height: 19px;
            left: 50%;
            margin: -10px 0 0 -9px;
            position: absolute;
            top: 50%;
            vertical-align: middle;
            width: 19px;
        }

        &--message {
            background: @cl-Archiparti-icon-message;
        }

        &--star {
            background: @cl-Archiparti-icon-star;
        }
    }

    &__info {
        display: inline-block;
        line-height: 17px;
        padding-top: 4px;
        vertical-align: middle;
        width: 72%;

        &--project-diary {
            color: @cl-font-black;
        }
    }

    &__content {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        height: 4.3em;
        line-height: 16px;
        overflow: hidden;
        width: 190px;
    }

    &__date {
        display: block;
        opacity: 0.5;
        padding-top: 11px;
    }

    &__name {
        font-family: @font-catesque-bold;
    }

    &__text,
    &__date {
        font-family: @font-catesque-light;
    }

    &__cursive {
        font-family: @font-playfairdisplay-italic;
    }
}