/* 960 + */
.b-button {
    -webkit-appearance: none;
    border: 0;
    color: @cl-font-white;
    display: inline-block;
    font-family: @font-catesque-black;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;

    // модификатор для красных кнопок
    &--send {
        background: @cl-Archiparti-red;
        border-radius: 50px;
        height: 40px;
        line-height: 29px;
        padding: 5px 36px;

        .no-touch &:hover {
            background: @cl-Archiparti-send-hover;
        }
    }

    &:disabled {
        color: @cl-Archiparti-disable;

        .no-touch &:hover {
            background: @cl-Archiparti-red;
        }
    }

    // кнопка отправки сообщения в b-form--comment
    &--send-comment {
        background: @cl-Archiparti-red;
        border-radius: 100%;
        bottom: 12px;
        height: 20px;
        line-height: 20px;
        padding: 0;
        position: absolute;
        right: 27px;
        width: 20px;
        z-index: 3;

        .no-touch &:hover {
            transform: scale(1.2);
            transition: all .3s ease;
        }

        i {
            display: inline-block;
            font-size: 5px;
            line-height: 5px;
            margin: 0 0 0 2px;
            vertical-align: middle;
        }
    }
}