/* 960 + */
.b-form {

    // используем в боковом меню с комментариями в b-form--comment
    &--comment {
        padding-left: 12px;
        padding-right: 12px;
        display: inline-block;
        width: 100%;
        margin-bottom: 14px;
        z-index: 2;
    }

    &__group {
        // используем в боковом меню с комментариями в b-form--comment
        &--form-comment {
            border: solid 2px @cl-Archiparti-black;
            padding-left: 14px;
            padding-right: 10px;
            background: @cl-Archiparti-white;
            transition: all 0.25s ease-in;

            &:hover {
                transition: all 0.25s ease-in;
            }
        }

        // модификатор для блока с файлами
        &--add-file {
            display: block;
            opacity: 0;
            max-height:0;
            overflow: hidden;

            transition: all .5s ease;
        }

        &.b-form__group--form-comment:hover  &--add-file {
            opacity: 1;
            padding-bottom: 12px;
            max-height: 48px;

            transition: all .5s ease;
        }
    }
}