/* 960 + */
.b-avatar {
    display: block;
    text-align: center;

    //модификаторы для списка со студиями
    &--studio {
        background: @cl-Archiparti-background-avatar;
        border-radius: 100%;
        bottom: 10px;
        height: 30px;
        left: 9px;
        position: absolute;
        width: 30px;
    }

    // модификатор для --latest-message
    // модификатор для страницы проекта
    &--latest-message,
    &--project {
        background: transparent;
        display: inline-block;
        height: auto;
        vertical-align: middle;
        width: auto;
    }

    // модификатор для страницы проекта
    &--project {
        height: 22px;
        margin-right: 12px;
        width: 22px;
    }

    // модификатор для аватора без картинки в меню с ообщениями b-comment-message
    // модификатор для аватора с картинкой в меню с ообщениями b-comment-message
    &--comment,
    &--comment-message {
        height: 30px;
        width: 30px;
    }

    // модификатор для аватора без картинки в меню с ообщениями b-comment-message
    &--comment {
        background: @cl-Archiparti-background-avatar;
        border-radius: 100%;
        border: 1px solid @cl-Archiparti-black;
    }

    // используем в боковом меню с комментариями в b-form--comment
    &--form-comment {
        background: @cl-Archiparti-background-avatar;
        border-radius: 100%;
        display: inline-block;
        height: 20px;
        margin-right: 20px;
        width: 20px;
    }

    &__image {
        border-radius: 100%;
        border: 2px solid @cl-Archiparti-black;

        &--project {
            height: 22px;
            width: 22px;
        }

        &--latest-message {
            height: 45px;
            width: 45px;
        }

        &--studio {
            opacity: 1;
        }
    }

    // используется когда нет картинки
    &__no-image {
        background: @cl-Archiparti-menu-item-2;
        border-radius: 100%;
        border: 2px solid @cl-Archiparti-black;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        width: 45px;
    }

    &__letter {
        color: @cl-font-white;
        display: inline-block;
        font-family: @font-catesque-bold;
        font-size: 20px;
        line-height: 20px;
        text-transform: lowercase;
    }

    // модификатор для блока header
    &--header {
        display: inline-block;
        height: 40px;
        margin-right: 8px;
        vertical-align: middle;
        width: 40px;
    }

    &__image {
        &--header {
            border: none;
        }
    }


    &__content {
        color: @cl-font-black;
        font-family: @font-catesque-bold;
        font-size: 25px;
        line-height: 28px;
        position: relative;
        text-transform: uppercase;

        &:before {
            background: @cl-Archiparti-black;
            border-radius: 50%;
            bottom: 0;
            content: "";
            display: block;
            height: 3px;
            left: 50%;
            margin: auto;
            margin-left: -1px;
            position: absolute;
            right: 0;
            top: 0;
            width: 3px;
        }

        // используем в боковом меню с комментариями в b-form--comment
        &--form-comment {
            font-size: 13px;
            line-height: 20px;

            &:before {
                content: none;
            }
        }
    }
}