/* 960 + */
.b-comment-message {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 19px;
    padding: 0 12px;

    // окно текста находится слево в b-comment-message
        &--text-left {
            justify-content: flex-start;
        }

    &__content {
        display: flex;
        flex-direction: row;
        margin: 0 0 3px;
        text-align: right;
        width: 100%;

        // окно текста находится слево в b-comment-message
        &--text-left {
            flex-direction: row-reverse;
            text-align: left;
        }
    }

    &__description {
        background: @cl-Archiparti-white;
        border-radius: 11px;
        display: inline-block;
        margin: 0 13px 0 0;
        padding: 16px 12px 16px 12px;
        position: relative;

        &:after,
        &:before {
            border-bottom: 9px solid transparent;
            border-top: 9px solid transparent;
            content: '';
            height: 0;
            position: absolute;
            top: 12px;
            width: 0;
        }

        &:after {
            border-left: 7px solid @cl-Archiparti-white;
            right: -7px;
        }

        &:before {
            content: none;
        }

        // окно текста находится слево в b-comment-message
        &--text-left {
            margin: 0 0 0 13px;

            &:before {
                border-right: 7px solid @cl-Archiparti-white;
                content: '';
                left: -7px;
            }

            &:after {
                content: none;
            }
        }
    }

    &__text {
        font-size: 12px;
        line-height: 18px;
        text-align: left;
    }

    &__date {
        color: @cl-font-black;
        font-size: 9px;
        line-height: 18px;
        opacity: 0.6;
        padding: 0 0 0 12px;
        text-align: left;

        &--text-left {
            padding: 0 0 0 25px;
        }
    }

    &__avatar {
        padding: 6px 0 0;
        width: 10%;
    }

    &__block {
        width: 90%;
    }

    &__info {
        display: inline-block;
    }
}