/* 960 + */
.b-label {

    // кнопка добавления фаила в b-form--comment
    &--add-file {
        width: 100%;
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        cursor: pointer;
    }
}