/* 960 + */
.b-project-studio {
    background: @cl-Archiparti-background-menu-studio;
    transition: all 0s ease-out;


    .no-touch .b-project-list__item--studio:hover & {
        background: @cl-Archiparti-white;

        &__name {
            color: @cl-font-black;
        }

        &__contract {
            display: block;
        }
    }

    .b-project-list__item--active & {
        background: @cl-Archiparti-white;

        &__name {
            color: @cl-font-black;
        }

        &__contract {
            display: block;
        }
    }

    &__link {
        display: block;
        padding-bottom: 12px;
    }

    &__image {
        display: block;
        position: relative;
        line-height: 0;
        border-bottom: solid 2px @cl-Archiparti-black;
        margin-bottom: 10px;
        height: 80px;

        transition: none;
    }

    .b-project-list__item--active &__image, 
    .no-touch .b-project-list__item--studio:hover &__image {
        height: 86px;
        background: url('/images/inhtml/dotted.svg') repeat;
        background-size: 7px;
        background-position: 8px 0px;
    }

    &__img {
        width: 100%;
        height: auto;
        opacity: 0.6;
    }

    &__name {
        color: @cl-font-white;
        display: block;
        font-size: 12px;
        line-height: 20px;
        padding: 0 18px 0 12px;
        transition: all 0s ease-out;
    }

    &__contract {
        font-size: 9px;
        line-height: 20px;
        opacity: 0.5;
        color: @cl-font-black;
        display: none;
        padding: 0 13px;
        background: @cl-Archiparti-white;

        span,
        i {
            display: inline-block;
            vertical-align: middle;
        }

        span {
            padding-left: 4px;
        }
    }
}