/* 960 + */
.b-info-task {
    border-bottom: solid 2px @cl-Archiparti-black;
    background-color: @cl-Archiparti-white;
    // position: relative;
    position: absolute;
    top: 0px;

    
    z-index: 2;
    min-width: 271px;
    width: 100%;

    &__icon {
        text-align: center;
        max-height: 30px;
        transition: all 0.3s ease-in;


        &.active {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
        }
    }

    &__content {
        width: 100%;
        max-height: 0;
        opacity: 0;
        padding: 0 11px;
        overflow: hidden;
        transition: all 0.3s ease-in;

        &.active {
            max-height: 100%;
            display: block;
            opacity: 1;
            padding-bottom: 17px;
            padding-top: 11px;
        }
    }

    &__top {
        margin-bottom: 17px;
    }

    &__date,
    &__name-task {
        font-family: @font-catesque-light;
        display: inline-block;
        vertical-align: middle;
        line-height: 18px;
    }

    &__date {
        font-size: 12px;
        opacity: 0.6;
    }

    &__name-task {
        width: 200px;
        font-size: 22px;
        line-height: 30px;
        text-align: left;
    }

    &__info {
        margin: 0 -12px 11px;
        border-top: 1px dashed @cl-Archiparti-border;
        border-bottom: 1px dashed @cl-Archiparti-border;

        p {
            font-size: 12px;
            line-height: 21px;
            padding: 20px 21px 30px;
            width: 294px;
            margin: auto;
        }
    }

    &__files-title {
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        color: @cl-font-black;
        margin: 0 0 20px 15px;
    }

    &__status {
        position: relative;
        margin-bottom: 11px;
        text-align: center;
    }

    &__mark,
    &__smile {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }

    &__mark {
        width: 30px;
        height: 100%;
        padding-top: 13px;
        margin-right: 5px;

        i {
            display: inline-block;
            vertical-align: middle;
            color: @cl-Archiparti-font;
            font-size: 30px;
        }
    }

    &__smile {
        vertical-align: top;
        margin-right: 11px;
    }

    &__smile-link {
        display: block;
        margin-bottom: 15px;
        opacity: 0.5;
         color: @cl-font-black;

        &:last-child {
            margin-bottom: 0;
            opacity: 0.2;
        }

        i {
            display: inline-block;
            vertical-align: middle;
            font-size: 25px;
        }

        &:hover {
            color: @cl-Archiparti-red;
            opacity: 1;
        }
    }
}