/* 960 + */
.b-main {
    // display: block;
    background-color: @cl-Archiparti-background;
    flex: 1 0;
    overflow-y: hidden;
    border-top: solid 2px @cl-Archiparti-black;
    border-bottom: solid 2px @cl-Archiparti-black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    // z-index: 1;

    &--home {
        border-right: solid 2px @cl-Archiparti-black;
    }

    // .no-touch &:hover {
    //     z-index: 2;
    // }
}