/* 960 + */
.b-language {

    background-color: @cl-Archiparti-white;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }
}