//- ====================
//- Archiparti: avatar
//- 03-10-2016: drtvader
//- --------------------
//- avatar
//- ====================
mixin avatar(img, letter)
    +b.avatar(class!=attributes.class)
        if img     
            +e('img').image(src="#{img}" alt="avatar" title="avatar" class!=attributes.class)
        else
            +e.no-image 
                +e.letter #{letter}
