//- ====================
//- Archiparti: brief
//- 18-10-2016: drtvader
//- --------------------
//- brief
//- ====================
mixin brief(text)
    +b('a').brief(href="javascript:void(0);" title="#{text}" class!=attributes.class)
        i.icon-contract
        | #{text}