//- ====================
//- Archiparti: comment
//- 04-09-2016: korvin
//- --------------------
//- comment
//- ====================


//- ====================
//- Archiparti: comment
//- 04-09-2016: korvin
//- --------------------
//- Основной миксин
//- ====================
//- no_message - добавляем если нет сообщений
mixin comment(no_message)
    +b.comment(class!=attributes.class).js-scroll-block
        if no_message
            +e.clear
                +e('p').caption No&nbsp;messages yet.
                +e('p').caption Be&nbsp;first!
                +e.heart
                    i.icon-myloves
        else
            block
    //- используем section/gui/project-name.jade
    +form-comment()

//- ====================
//- Archiparti: comment-message
//- 04-09-2016: korvin
//- --------------------
//- миксин одного сообщения
//- ====================
//- message - текст сообщения
//- avatar_img - картинка аватара если он есть
//- date - дата сообщения
mixin comment-message(message, img, date)
    +b.comment-message(class!=attributes.class)
        +e.content(class!=attributes.class)
            +e.block
                +e.info
                    +e.description(class!=attributes.class)
                        +e.text #{message}
                            block
                    +e.date(class!=attributes.class) #{date}
            +e.avatar
                +e('a')(href="javascript:void(0);" title="").avatar-link
                    +avatar(img).--comment-message