//- ====================
//- Archiparti: deadline
//- 06-10-2016: drtvader
//- --------------------
//- deadline
//- ====================
mixin deadline()
    +b.deadline
        | Deadline
        +e.input
            +b('input')(type="text" id="deadline-day" name="deadline-day"  maxlength="2" required="required" placeholder='DD').input.--deadline
            | /
            +b('input')(type="text" id="deadline-month" name="deadline-month" maxlength="2" required="required" placeholder='MM').input.--deadline