//- ====================
//- Archiparti: drop-down
//- 28-09-2016: drtvader
//- --------------------
//- drop-down
//- ====================
mixin drop-down()
    +b.drop-down(class!=attributes.class)
        block
