//- ====================
//- Archiparti: form-comment
//- 04-09-2016: korvin
//- --------------------
//- form-comment
//- ====================


//- ====================
//- Archiparti: form-comment
//- 04-09-2016: korvin
//- --------------------
//- Основной миксин
//- ====================
mixin form-comment()
    +b('form')(name="form-comment" action="/").form--comment
        +e.group--form-comment
            +b('textarea')(placeholder="Type message…").input--new-comment
            +b('button').button--send-comment
                i.icon-arrow-right
            +file-list.--form-comment
                //- section/file-list.jade
                +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);', true).--comment
                //- section/file-list.jade
                +file-item('' , 'pdf', '.prd', 'javascript:void(0);', true).--comment
                //- section/file-list.jade
                +file-item('' , 'pdf', '.ai', 'javascript:void(0);', true).--comment
            +e.group--add-file
                +b('label')(for="add-file").label--add-file Add files
                +b('input')(type="file" id="add-file").input--add-file