//- ====================
//- Archiparti: look
//- 04-10-2016: drtvader
//- --------------------
//- look
//- ====================
//- глазик
mixin look()
    +b('a').look(href="javascript:void(0);" title="" class!=attributes.class)
        i.icon-look