//-
//- archipati: modal
//- 03-10-2016: drtvader
//- ---------------------
//- Модальные окна - попапы.
//-
//- id - id модального окна
//- name - , если есть, пишем заголовок
//- back - если есть, добавляем блок назад
//- link - если есть, добавляем кнопку
//- link_name - добавляем текст в кнопке если есть Link
//- link_href - добавляем путь в кнопке если есть Link
mixin modal(id)
    // BEGIN .b-modal
    .modal.popup.modal-vertical-align(id="#{id}" tabindex="-1" role="dialog")
        +b.modal(role="document" class!=attributes.class)
            +e('a').close(href="javascript:void(0);" title="Закрыть" data-dismiss="modal" class!=attributes.class)
                i.icon-close
            +e.content(class!=attributes.class)
                block
    // END .b-modal