//- ====================
//- Archiparti: question
//- 28-09-2016: drtvader
//- --------------------
//- Приветственное окно
//- ====================
mixin question()
    +b('a').question(href="javascript:void(0);" title="" class!=attributes.class)
        +e.content ?
        block
