//- ====================
//- Archiparti: tooltip
//- 30-09-2016: drtvader
//- --------------------
//- tooltip
//- ====================


//- ====================
//- Archiparti: tooltip
//- 30-09-2016: drtvader
//- --------------------
//- Основной миксин
//- ====================
mixin tooltip(status, text)
    +b.tooltip(class!=attributes.class)
        if status == "question"
            +e.title Tooltip title
            +e.text Some text and call to action to go to the suppost page if here any questions
        else if status == "mini"
            +e.text #{text}
        else if status == "link"
            +e('a')(href="javascript:void(0);" title="").link
                i.icon-smile
                | Approve
            +e('a')(href="javascript:void(0);" title="").link
                i.icon-review
                | Send for review