/* 960 + */
.b-file-item {
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    text-align: center;
    position: relative;
    margin: 0 4px 10px;

    // появление креста для удаления
    &:hover &__close-block {
        display: inline-block;
    }

    // если добавляем файл pdf
    // добавить файл в b-comment-message
    &--pdf,
    &--comment {
        background-color: @cl-Archiparti-file-background;
        border: 1px solid @cl-Archiparti-file-border;
    }

    // добавить файл в b-comment-message
    &--comment {
        width: 38px;
        height: 38px;
        margin: 0 5px 5px 0;

        .no-touch &:hover .b-file-item__close-block--comment {
            opacity: 1;
            transition: all .5s ease;
        }
    }

    // ипользуем в gui в блоке look-file
    &--look-file {
        width: 100%;
        height: auto;
        border: none;
        border-top: 1px solid transparent;
        border-bottom: 1px dashed @cl-Archiparti-border;
        font-size: 0px;
        margin: 0;
        text-align: left;
        background-color: transparent;
    }

    &__link {
        display: block;
        height: 100%;

        // ипользуем в gui в блоке look-file
        &--look-file {
            padding: 11px 16px 11px 24px;
        }
    }

    &__image-inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;

        // ипользуем в gui в блоке look-file
        &--look-file {
            display: inline-block;
            vertical-align: top;
            width: 30px;
            height: 30px;
            text-align: center;
            position: relative;
            margin: 0;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__pdf-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 9px;
        line-height: 56px;
        color: @cl-font-black;

        // ипользуем в gui в блоке look-file
        &--look-file {
            line-height: 30px;
            width: 30px;
            height: 30px;
            text-align: center;
            background-color: @cl-Archiparti-file-background;
            border: 1px solid @cl-Archiparti-file-border;
        }

        // добавить файл в b-comment-message
        &--comment {
            line-height: 38px;
        }
    }

    // ипользуем в gui в блоке look-file
    &__info {
        display: inline-block;
        width: calc(~"100% - 30px");
        font-size: 12px;
        vertical-align: top;
        padding-left: 17px;
        line-height: 1;
        color: @cl-font-black;
    }

    &__name {
        line-height: 18px;
    }

    &__info-text {
        display: inline-block;
        width: 100%;
    }

    &__size {
        display: inline-block;
        width: 20%;
        opacity: 0.2;
    }

    &__date {
        display: inline-block;
        text-align: right;
        width: 80%;
        opacity: 0.2;
    }

    &__close-block {
        display: none;
        position: absolute;
        top: -10px;
        right: -7px;
        color: @cl-font-black;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: @cl-Archiparti-black;

        i {
            display: inline-block;
            vertical-align: middle;
            color: @cl-Archiparti-white;
            font-size: 5px;
        }

        &--comment {
            display: block;
            line-height: 16px;
            opacity: 0;
            transition: all .5s ease;
        }
    }
}