/* 960 + */
.b-home {
    // НЕ УДАЛЯТЬ
    // background-image:
    //     linear-gradient(
    //         30deg,rgba(151, 151, 151, 0) 49%,
    //         rgba(151, 151, 151, 0.1) 50%,
    //         rgba(151, 151, 151, 0) 51%),
    //     linear-gradient(
    //         -30deg,rgba(151, 151, 151, 0) 49%,
    //         rgba(151, 151, 151, 0.1) 50%,
    //         rgba(151, 151, 151, 0) 51%),
    //     linear-gradient(
    //         90deg,rgba(151, 151, 151, 0) 0%,
    //         rgba(151, 151, 151, 0.1) 1%,
    //         rgba(151, 151, 151, 0.1) 2%,
    //         rgba(151, 151, 151, 0) 2%,
    //         rgba(151, 151, 151, 0) 48%,
    //         rgba(151, 151, 151, 0.1) 49%,
    //         rgba(151, 151, 151, 0) 51%);
    // background-size: 136px 77px;//6.6em 3.8em;
    background-image:
        linear-gradient(
            30deg,
            rgba(151, 151, 151, 0) 49%,
            rgba(231, 231, 231, 1) 50%,
            rgba(151, 151, 151, 0) 51%),
        linear-gradient(
            -30deg,
            rgba(151, 151, 151, 0) 49%,
            rgba(231, 231, 231, 1) 50%,
            rgba(151, 151, 151, 0) 51%),
        linear-gradient(
            90deg,
            rgba(151, 151, 151, 0) 0%,
            rgba(231, 231, 231, 1) 1%,
            rgba(151, 151, 151, 0) 0%,
            rgba(151, 151, 151, 0) 50%,
            rgba(231, 231, 231, 1) 51%,
            rgba(151, 151, 151, 0) 50%);
    background-size: 90px 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 0 103px;
    width: 100%;

    &__title {
        font-family: @font-catesque-light;
        font-size: 42px;
        line-height: 51px;
        margin: 0 0 50px;
        opacity: 0.8;
        width: 520px;

        mark {
            background: transparent;
            color: @cl-Archiparti-red;
            font-family: @font-playfairdisplay-italic;
            letter-spacing: 1px;
        }
    }

    &__text {
        font-family: @font-catesque-light;
        font-size: 16px;
        line-height: 1.63;
        width: 370px;
    }
}