/* 960 + */
.b-modal-gallery {
    text-align: center;
    padding-top: 59px;

    &__carousel {
        margin-bottom: 21px;
    }

    &__carousel-inner {
        width: 80%;
        height: 631px;
        margin: auto;
    }

    &__carousel-control {
        top: 0px;
        width: auto;
        background-color: transparent;
        font-size: 17px;
        text-shadow: none;
        opacity: 1;
        display: block;
        width: 45px;
        height: 100%;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        color: #fff;
        z-index: 2;

        &.right {
            left: auto;
            right: 0;
        }

        &.left,
        &.right {
            background-image: none;
        }

        i {
            text-shadow: none;
        }

        // &.left {
        //     padding-left: 20px;
        // }

        // &.right {
        //     padding-right: 20px;
        // }

        i {
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            margin-top: -10px;
        }

        &.left i {
            left: 20px;
        }

        &.right i {
            right: 20px;
        }
    }

    &__image {
        height: 631px;
        // width: 855px;
        max-width: none;

        .slick-slide img& {
            display: inline-block;
        }
    }

    &__link {
        color: @cl-Archiparti-white;
        font-family: @font-catesque-light;
        font-size: 12px;
        line-height: 20px;
        margin-left: 20px;

        i {
            display: inline-block;
            vertical-align: middle;
            font-size: 5px;
            margin-left: 10px;
        }
    }

    &__item {
        width: 100%;
        text-align: center;
        overflow: hidden;

    }

    &__download {
        margin-bottom: 15px;
    }
}