/* 960 + */
.b-question {
    position: relative;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background-color: @cl-Archiparti-black;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    .no-touch &:hover {
        text-decoration: none;
        transform: scale(1.2);
    }

    // используется в b-project-menu(боковое меню)
    &--project-menu {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    //модификатор для меню со студиями
    &--studio {
        position: absolute;
        left: 9px;
        bottom: 10px;
        text-transform: uppercase;

        .no-touch &:hover {
            transform: none;
        }
     }

    &__content {
        color: @cl-Archiparti-white;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: 31px;

        //модификатор для меню со студиями
        &--studio {
            font-size: 10px;
        }
    }
}