/* 960 + */
.b-file-list {

    // добавить файл в b-comment-message
    &--comment {
        padding-top: 7px;
    }

    // добавить файл в b-form--comment
    &--form-comment {
        border-top: dashed 1px @cl-Archiparti-border;
        padding-top: 5px;
        padding-bottom: 11px;
        // display: none;
    }
}