/* 960 + */
.b-add {
    display: block;

    &__plus {
        background: @cl-Archiparti-red;
        border-radius: 100%;
        color: @cl-font-white;
        display: inline-block;
        font-size: 30px;
        height: 50px;
        line-height: 50px;
        // НЕ УДАЛЯТЬ
        // margin: 0 15px 0 0;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 50px;

        .no-touch &:hover {
            transform: scale(1.2);
        }
    }

    // НЕ УДАЛЯТЬ
    // &__caption {
    //     bottom: 15px;
    //     color: @cl-font-white;
    //     display: inline-block;
    //     font-family: @font-catesque-light;
    //     font-size: 12px;
    //     left: -9999px;
    //     line-height: 15px;
    //     opacity: 0;
    //     position: absolute;
    //     transition: opacity 0.5s ease;
    //     white-space: nowrap;

    //     // модификатор для страниц, где на темном фоне и нужен белый шрифт
    //     &--main {
    //         color: @cl-font-black;//@cl-font-white;
    //     }
    // }

    // &__plus:hover &__caption {
    //     display: inline-block;
    //     left: 61px;
    //     opacity: 1;
    //     position: absolute;
    //     transition: opacity 0.5s ease;
    //     // z-index: 2;
    // }
}