//- ====================
//- Archiparti: file-list
//- 04-10-2016: drtvader
//- --------------------
//- file-list
//- ====================
//- Список файлов
mixin file-list()
    +b('ul').file-list(class!=attributes.class)
        block


//- ====================
//- Archiparti: file-item
//- 04-10-2016: drtvader
//- --------------------
//- file-list
//- ====================
//- Элемент списка файлов
//- img добавляем изображение
//- image если true то будет добавлено изображение
//- pdf если true то будет добавлены стили для иконки pdf/psd
//- pdf_text добавляем текст например pdf
//- href добавляем ссылку/либо ссылку на модалку
//- &attributes(attributes) добавляем атрибут для модалки data-toggle="modal"
mixin file-item(img, status, pdf_text, href, close)
    +b.file-item(class!=attributes.class)
        +e('a').link.js-icon-link(href="#{href}" title="" class!=attributes.class data-tooltip="bottom-arrow-file")&attributes(attributes)
            if status == "image"
                +e.image-inner(class!=attributes.class)
                    +e('img').image(src="#{img}" alt="" title="" class!=attributes.class)
            if status == "pdf"
                +e.pdf-text(class!=attributes.class) #{pdf_text}
            block
        if close == true
            +e('a').close-block(href="#{href}" title="" class!=attributes.class)
                i.icon-close
