//- ====================
//- Archiparti: file-list
//- 04-10-2016: drtvader
//- --------------------


//- ====================
//- Archiparti: help
//- 26-10-2016: Mel. Blimm
mixin help()
    +b.help
        +b('a')(href="javascript:void(0);" title="").question--project-menu
            +e.content ?
        //- section/gui/tooltip.jade
        +tooltip('question', '').--bottom-arrow.--big
        +b.add
            +e('a').plus(href="javascript:void(0);" title="") +
                //- НЕ УДАЛЯТЬ
                //- +e.caption(class='#{addBlockMain === true ? "--main" : ""}') Add Case
