//- ====================
//- Archiparti: home-page
//- 27-09-2016: drtvader
//- --------------------
//- Приветственное окно
//- ====================
mixin home-page()
    +b.home
        +e('h1').title Sweet welcome title on 
            mark creative 
            |part. Non-creative tasks are on us.
        +e.text
            p Introduction text. You deserves a more creative life! Join the most efficiency technology platform and a marketplace for the space design industry. 


