//- Используем Archiparti: look.jade: mixin +look()
include gui/look.jade
//- Используем Archiparti: avatar.jade: mixin +avatar()
include gui/avatar.jade
//- ====================
//- Archiparti: info-task
//- 04-10-2016: drtvader
//- --------------------
//- info-task
//- ====================
//- информационный блок в чате
mixin info-task(date, name_task, status)
    +b.info-task
        +e.icon(class!=attributes.class).js-info-task-icon
            +look()
        +e.content(class!=attributes.class).js-info-task-cont
            +e.top
                //- миксин находится в section/gui/avatar.jade
                +avatar('/images/content/avatar.jpg').--info-task.--project
                +e.date #{date}
            +e.status
                if status == 'mark'
                    +e.mark
                        i.icon-mark
                        //- section/gui/tooltip.jade
                        +tooltip('mini', 'Waiting approval').--bottom-arrow.--mini
                if status == 'smile'
                    +e.smile
                        +e('a').smile-link(href="javascript:void(0);" title="")
                            i.icon-smile
                        +e('a').smile-link(href="javascript:void(0);" title="")
                            i.icon-review
                +e.name-task #{name_task}
            +e.info
                p Task Short Description, provided by archiparti. To sreamline the process for all parties. Can be long and include some links to the helpful articles. Admin control this text and links.
            +e.files
                +e('a').files-title(href="javascript:void(0);" title="").js-files-block All Files
                block

