//- ====================
//- Archiparti: last-project
//- 29-09-2016: drtvader
//- --------------------
//- last-messages
//- ====================
mixin last-project()
    //- используется файл в папке gui/drop-down.jade
    +drop-down().--top-arrow.--project
        +b.last-project(class!=attributes.class)
            +e('ul').list(class!=attributes.class)
                block
            +e.link-block
                +e('a')(href="javascript:void(0);" title="Show all").link Show all
