//- ====================
//- Archiparti: latest message
//- 29-09-2016: drtvader
//- --------------------
//- latest projects
//- ====================
mixin latest-message(img, name, text, date, status, letter)
    +b.latest-message(class!=attributes.class)
        +e('a').link(href="javascript:void(0);" title="#{name}" class!=attributes.class)
            +e.images
                +e.image-inner
                    //- миксин находится в section/gui/avatar.jade
                    +avatar(img, letter).--latest-message
                    //- +e('img').image(src="#{img}" alt="#{name}" title="#{name}" class!="#{modificator}")
                    if status == 'message'
                        +e.icon.--message
                            i.icon-message
                    if status == 'star'
                        +e.icon.--star
                            i.icon-updates
            +e.info(class!=attributes.class)
                +e.content
                    +e.name #{name}
                    +e.text #{text}
                    block
                +e.date #{date}