//- ====================
//- Archiparti: look-file
//- 14-10-2016: websagdiev
//- --------------------
//- look-file
//- ====================
//- Список файлов дзагруженных
mixin look-file()
    +b.look-file.js-look-file
        +e('a')(href='javascript:void(0);').link.js-close-files-block 
            i.icon-back
            | Back
        +e.wrapper.js-scroll-block
            //- section/file-list.jade
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            //- section/file-list.jade
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            //- section/file-list.jade
            +file-item('', 'pdf', '.pdf', 'javascript:void(0);').--pdf.--look-file
                +e.info
                    +e.name File Full Name.pdf
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            //- section/file-list.jade
            +file-item('', 'pdf', '.psd', 'javascript:void(0);').--pdf.--look-file
                +e.info
                    +e.name File Full Name.psd
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            //- section/file-list.jade
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            //- тест 
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm
            +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--look-file
                +e.info
                    +e.name File Full Name.jpg
                    +e.info-text
                        +e('span').size 5Mb
                        +e('span').date 5 Aug, 12:00pm