//- ====================
//- Archiparti: more-actions
//- 28-09-2016: drtvader
//- --------------------
//- more-actions
//- ====================
//- Больше действий
mixin more-actions()
    +drop-down().--top-arrow.--menu
        nav
            - var data = {"items": [{"name": "Support", "icon": "support"}, {"name": "Settings", "icon": "settings"}, {"name": "Product Updates", "icon": "updates"}, {"name": "Log Out", "icon": "logout"}] }
            +actions-list(data)


//- ====================
//- 28-09-2016: drtvader
//- --------------------
//- actions-list
//- ====================
//- миксин списка больше действия
mixin actions-list(data)
    +b('ul').actions-list(class!=attributes.class)
        each item in data.items
            +e('li').item(class!=attributes.class)
                +e('a').link(href='javascript:void(0);' title='#{item.name}' class!=attributes.class)
                    i(class!="icon-#{item.icon}")
                    | #{item.name}