//- ====================
//- Archiparti: task-chat
//- 05-10-2016: drtvader
//- --------------------
//- task-chat
//- ====================
//- чат по задаче
mixin task-chat()
    +b.task-chat(class!=attributes.class)
        block
