//- ====================
//- Archiparti: todo
//- 29-09-2016: drtvader
//- --------------------
//- todo
//- ====================
mixin todo()
    +b.todo(class!=attributes.class)
        +e('ul').header-list(class!=attributes.class)
            +e('li').header-item To-do list name
            +e('li').header-item Deadline
            +e('li').header-item Assigned
        +e('ul').todo-list
            block


mixin todo-item(img, data)
    +e.todo-item(class!=attributes.class)
        each item in data.items
            +e.link(data-href="javascript:void(0);" title="" class!=attributes.class).js-task-chat-toggle
                +e.name(class!=attributes.class)
                    block
                    +e.name-text #{item.name}
                +e.deadline(class!=attributes.class) #{item.deadline}
                +e.assigned(class!=attributes.class)
                    +e.image-inner
                        //- миксин находится в section/gui/avatar.jade
                        +avatar(img).--project
                    +e.assigned-text(class!=attributes.class) #{item.assigned}