//- ====================
//- Archiparti: tool-project
//- 29-09-2016: drtvader
//- --------------------
//- tool-project
//- ====================
mixin tool-project()
    +b.tool-project(class!=attributes.class)
        +e.top(class!=attributes.class)
            +e.title Garage Office Redesign title two lines
            +e.link-top
                +brief('Initial brief')
        block
        +e.add(class!=attributes.class)
            +e('a')(href="javascript:void(0);" title="Add task").link-add
                +e.plus
                    i.icon-plus
                | Add task
        +e.text-block(class!=attributes.class)
            +e('a')(href="javascript:void(0);" title="All approved").text All approved