/* 960 + */
.b-header {
    height: 60px;
    background-color: @cl-Archiparti-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 2px @cl-Archiparti-black;
    border-bottom: 0;
    padding-left: 23px;
    padding-right: 25px;
}