/* 960 + */
.b-project-name {
    display: inline-block;
    vertical-align: top;
    // width: calc(~"100% - 43px");
    // width: calc(~"100% - 58px");
    width: 158px;
    padding: 36px 10px 49px 20px;
    position: relative;
    z-index: 2;
    background: inherit;

        transition: padding 0.3s;


    .b-project-list__item & {
        opacity: 0.2;
    }
    .b-project-list__item--transparent & {
        opacity: 0.5;
    }

    .b-project-list__item--visible & {
        opacity: 1;
    }

    .no-touch .b-project-list__item:hover &,
    .b-project-list__item.active & {
        // width: calc(~"100% - 58px");
        // width: calc(~"100% - 68px");
        padding-top: 15px;
        padding-bottom: 70px;
        opacity: 1;
    }

    // используется в маленьком меню
    &--min {
        display: none;
    }

    &__caption,
    &__title {
        color: @cl-font-white;
        line-height: 20px;
    }

    &__caption {
        font-size: 12px;
        font-family: @font-playfairdisplay-italic;
        display: block;
        margin-bottom: 5px;
    }

    &__title {
        font-size: 16px;
        font-family: @font-catesque-bold;
        display: block;
    }
}