include ../../node_modules/bemto.jade/bemto.jade

//- Используем Archiparti: template footer_main.jade: mixin +footer_main()
include layout/footer
//- Используем Archiparti: Archiparti_layout/header: +header
include layout/header
//- Используем Archiparti: more-actions.jade: mixin +more-actions()
include ../section/more-actions.jade
//- Используем Archiparti: drop-down.jade: mixin +drop-down()
include ../section/gui/drop-down.jade
//- Используем Archiparti: last-project.jade: mixin +last-project()
include ../section/last-project.jade
//- Используем Archiparti: last-messages.jade: mixin +last-messages()
include ../section/latest-message.jade
//- Используем Archiparti: last-messages.jade: mixin +last-messages()
include ../section/gui/avatar.jade
//- Используем Archiparti: last-messages.jade: mixin +last-messages()
include ../section/gui/modal.jade
//- Используем Archiparti: modal-message.jade: mixin +modal-message()
include ../section/modal/modal-message.jade
//- Используем Archiparti: modal-gallery.jade: mixin modal-gallery()
include ../section/modal/modal-gallery.jade
//- Используем Archiparti: help.jade: mixin help()
include ../section/help.jade


//- set_bemto_settings({ prefix: 'b-', element: '__', modifier: '--', default_tag: 'div', global_classes_prefix: 'g-' })

block variables
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no")
        meta(name="skype_toolbar", content="skype_toolbar_parser_compatible")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="google" value="notranslate")
        meta(name="format-detection" content="telephone=no")

        block styles
            //- link(href="css/normalize/normalize.css" rel="stylesheet")
            link(href="css/main.css?#{new Date().getTime()}" rel="stylesheet")

        //- jquery подключаем в шапке т.к. какой-то js может быть внутри компонентов
        //- block scripts
        //- script(src='js/jquery/jquery.min.js')

        block head
        title= pageTitle || ''
        meta(name='description' content=pageDescription || '')
        meta(name='keywords' content=pageKeywords || '')

        <!--[if lte IE 9]>
        script(src="js/html5shiv/html5shiv.min.js")
        <![endif]-->
    body
        //- div(style = "display: block; position: absolute; width: 38px; height: 38px;  left: 25px; top: 70px; background: url('/images/inhtml/tail-spin.svg') no-repeat; z-index: 100;").preloader
        +b.page-wrapper
            +header()

            block content

            +help()

            - var js_filename = 'config'
            if (typeof(file_name) !== 'undefined')
                - var js_filename = file_name
            script(src="js/require.js?#{new Date().getTime()}" data-main="js/#{js_filename}")