/* 960 + */
.b-actions-list {
    &__link {
        color: @cl-font-actions-list;
        display: block;
        font-family: @font-catesque-light;
        font-size: 12px;
        line-height: 40px;

        i {
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
            margin-right: 20px;
            opacity: 0.4;
            vertical-align: middle;
        }

        .no-touch &:hover {
            color: @cl-font-white;
            transition: all .5s ease;

            i {
                opacity: 1;
                transition: all .5s ease;
            }
        }
    }
}