/* 960 + */
.b-drop-down {
    background-color: @cl-Archiparti-background-rgba;
    border-radius: 5px;
    display: none;
    padding: 10px;
    position: relative;
    transition: all .3s ease;

    &.active {
        display: block;
    }

    // Когда стрелка находится наверху, то используем этот модификатор
    // положение по оси Х регулируем через свой модиикатор
    &--top-arrow {
        &:before {
            border: 5px solid transparent;
            border-bottom: 5px solid @cl-Archiparti-background-rgba;
            content: '';
            left: 50%;
            margin-top: -10px;
            position: absolute;
            top: 0;
        }
    }
    // модификатор для меню
    &--menu {
        left: 0;
        margin: 44px 0 0 -15px; // 40px 0 0 -16px;
        opacity: 0.9;
        padding: 14px 14px 6px 14px;
        position: absolute;
        top: 0;
        width: 185px;
        z-index: 4;

        &:before {
            margin-left: -55px;
        }
    }

    // модификатор для выпадашки со списком проектов
    &--project {
        left: 0;
        margin: 35px 0 0 -22px;
        padding: 0;
        position: absolute;
        top: 0;
        width: 304px;
        z-index: 4;

        &:before {
            margin-left: -125px;
        }
    }
}