/* 960 + */
.b-last-project {
    border-radius: 10px;
    // padding: 10px 0 0 0;

    &__link-block {
        padding: 10px 0 14px;
        text-align: center;

        .no-touch &:hover {
            background-color: @cl-Archiparti-black;
            border-bottom-left-radius: 10px; /* Левый верхний уголок */
            border-bottom-right-radius: 10px; /* Правый верхний уголок */

            transition: all .5s ease;
        }
    }

    &__link {
        font-family: @font-catesque-light;
        text-decoration: none;
        color: @cl-Archiparti-white;
        font-size: 12px;
        display: block;
    }
}