/* 960 + */
.b-page-wrapper {
    height: 100%;
    min-width: 960px;
    min-height: 600px;
    font-size: 1px;
    overflow: hidden;



    position: relative;

    &:before {
        content: "";
        width: 2px;
        background: #000;
        height: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 5;
    }
}