/* 960 + */
.b-container {
    height: calc(~"100% - 60px");
    width: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}