/* 960 + */
.b-deadline {
    border: 2px solid @cl-Archiparti-black;
    height: 50px;
    width: 200px;
    line-height: 25px;
    text-align: left;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .no-touch &:hover {
        border-width: 3px;
    }
}