/* 960 + */
.b-input {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    line-height: 18px;
    color: @cl-font-black;
    border: solid 2px @cl-Archiparti-black;
    background: @cl-Archiparti-white;
    text-align: center;
    &::-webkit-input-placeholder {color:@cl-Archiparti-font;}
    &::-moz-placeholder          {color:@cl-Archiparti-font;}
    &:-moz-placeholder           {color:@cl-Archiparti-font;}
    &:-ms-input-placeholder      {color:@cl-Archiparti-font;}

    // полле для ввода сообщения в b-form--comment
    &--new-comment {
        resize: none;
        box-shadow: none;
        -webkit-appearance: none;
        height: 56px;
        padding: 15px 10px 0 0;
        text-align: left;
        border: none;

        transition: all .5s ease;

        &:focus {
            height: 84px;

            transition: all .5s ease;
        }
    }

    // кнопка добавления фаила в b-form--comment
    &--add-file[type="file"] {
        display: none;
    }

    // модификатор для поля deadline
    &--deadline {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        border: 0;
        background: transparent;
        padding: 0;

        &::-webkit-input-placeholder {
            color:@cl-Archiparti-black;
            opacity: 0.5;
        }
        &::-moz-placeholder          {
            color:@cl-Archiparti-black;
            opacity: 0.5;
        }
        &:-moz-placeholder           {
            color:@cl-Archiparti-black;
            opacity: 0.5;
        }
        &:-ms-input-placeholder      {
            color:@cl-Archiparti-black;
            opacity: 0.5;
        }
    }
}