/* 960 + */
.b-todo {
    margin-bottom: 25px;

    &__header-list,
    &__link {
        display: flex;
        justify-content: flex-start;
    }

    &__header-list {
        padding: 0 29px 23px 68px;

        // модификатор для страницы команды page-project-team
        &--team {
            padding: 0 12px 23px 29px;
        }
    }

    // стилизуем на page-project-team
    &__header-list--team &__header-item {
        width: calc(~"25% + 14px");

        &:first-of-type {
            font-family: @font-catesque-bold;
            width: calc(~"45% - 2px");
        }

         &:last-of-type {
            width: calc(~"25% + 14px");
        }
    }

    &__todo-item {
        cursor: pointer;
        width: 100%;
    }

    &__header-item {
        color: @cl-font-to-do-name;
        font-family: @font-playfairdisplay-italic;
        font-size: 12px;
        line-height: 18px;
        width: calc(~"30% + 5px");

        &:first-of-type {
            color: @cl-font-black;
            font-family: @font-catesque-bold;
            width: calc(~"50% - 5px");
        }

         &:last-of-type {
            width: calc(~"20% + 12px");
        }
    }

    &__link {
        padding: 0 29px 0 68px;
        color: @cl-font-black;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 14px;
        border-bottom: 1px dashed @cl-Archiparti-border;
        border-top: 1px dashed @cl-Archiparti-border;
        margin-top: -1px;
        cursor: pointer;

        // модификатор для страницы команды page-project-team
        &--team {
            padding: 15px 12px 14px 29px;
        }

        .no-touch &:hover,
        &.active {
            background-color: @cl-Archiparti-white;
            border: 1px dashed @cl-Archiparti-black;
            border-right: 0;
            border-left: 0;
            transition: all .5s ease;
        }
    }

    &__name,
    &__deadline,
    &__assigned {
        display: inline-block;
    }

    &__name,
    &__deadline,
    &__assigned {
        font-size: 12px;
        line-height: 20px;
    }

    &__name {
        width: calc(~"50% - 5px");
        position: relative;

        i {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
        }

        // модификатор для страницы команды page-project-team
        &--team {
            width: calc(~"45% - 2px");
        }
    }

    &__deadline,
    &__assigned {
        color: @cl-Archiparti-font;
    }

    &__deadline {
        width: calc(~"30% + 5px");

        // модификатор для страницы команды page-project-team
        &--team {
            width: calc(~"25% + 14px");
        }
    }

    &__assigned {
        width: calc(~"20% + 12px");

        // модификатор для страницы команды page-project-team
        &--team {
            width: calc(~"25% + 14px");
        }
    }

    &__assigned-text,
    &__image-inner,
    &__icon,
    &__name-text {
        display: inline-block;
        vertical-align: middle;
    }

    &__icon {
        color: @cl-font-black;
        margin-right: 15px;
        text-align: center;

        & .icon-mark {
            color: @cl-Archiparti-icon-mark;

            .no-touch &:hover {
                color: @cl-Archiparti-red;
            }
        }
        // модификатор для состояния иконки когда принято
        &--approved {

            & .icon-mark {
                color: @cl-font-black;

                .no-touch &:hover {
                    color: @cl-font-black;
                }
            }
        }
    }

    &__assigned-text {
        display: block;
        font-size: 12px;
        line-height: 16px;
        margin: 3px 0 0 34px;
    }

    &__number-reviews {
        display: block;
        font-size: 9px;
        color: @cl-font-black;
        opacity: 0.5;
        line-height: 10px;
    }

    &__name-text {
        line-height: 16px;
        width: 140px;
    }

    &__assigned-text {
        height: 100%;

        // модификатор для страницы команды page-project-team
        &--team {
            width: 86px;
        }
    }

    &__image-inner {
        display: block;
        float: left;
        height: 100%;
    }

    &__image {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        border: 2px solid @cl-Archiparti-black;
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
    }
}