/*
 * Third Party
 */

/*
 * Custom
 */
@import "partials/bootstrap.less";
@import "partials/variables.less";
@import "partials/sprite.less";
@import "partials/fonts.less";
@import "partials/theme.less";
@import "partials/icons.less";
@import "partials/normalize.less";
@import "../js/bower_components/slick-carousel/slick/slick.less";




@import "concat-less/bem.tablet.less";

// 1280 +
@media @desktop-min {
    @import "concat-less/bem.desktop.min.less";
}

// 1600 +
@media @desktop {
    @import "concat-less/bem.desktop.less";
}

// 1980 +
@media @desktop-big {
    @import "concat-less/bem.desktop.big.less";
}