//- Используем Archiparti: tooltip.jade: mixin +tooltip()
//- ====================
//- Archiparti: project-menu
//- 29-09-2016: korvin
//- --------------------
//- project-menu
//- ====================


//- ====================
//- Archiparti: project-menu
//- 29-09-2016: korvin
//- --------------------
//- Основной миксин
//- ====================
//- min - используется если нужно включит ьмаленькое меню
//- modif - добавляем, если нужно добавить модификатор
//- add - добавляем блок добвлением нового проекта
mixin project-menu(min, project)
    +b.project-menu(class!=attributes.class)
        +e.inner.js-scroll-block.js-project-list-scroll(class!=attributes.class)
            block
            +e.dividing-line
            if min == true
                +e.icon(class!=attributes.class)
                    +e('a').history.js-arrow-left-link(data-tooltip-left='pending' href="javascript:void(0);" title="Pending projects" class!=attributes.class)
                        i.icon-pending-projects
                        +e('span').text-project.js-project-text(class!=attributes.class) Pending projects
                    +e('a').history.js-arrow-left-link(data-tooltip-left='past' href="javascript:void(0);" title="Past Projects" class!=attributes.class)
                        i.icon-smile
                        +e('span').text-project.js-project-text(class!=attributes.class) Past Projects
            if project == false
                +e.description
                    +e('p').caption Oh&nbsp;no, you don&rsquo;t have any projects to&nbsp;manage yet!
                    +e('p').text Don&rsquo;t be&nbsp;shame, start new one!
                    +e('ul').list
                        +e('li').item
                        +e('li').item
                        +e('li').item
                        +e('li').item
                        +e('li').item