//- ====================
//- Archiparti: project-studio
//- 30-09-2016: korvin
//- --------------------
//- project-studio
//- ====================


//- ====================
//- Archiparti: project-studio
//- 30-09-2016: korvin
//- --------------------
//- Основной миксин
//- ====================
mixin project-list-studio()
    +b.project-menu--studio-outer
        +b.project-list--studio.js-scroll-block
            +e.item--studio(class="#{file_name == 'main' ? '' : '--active'}")
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-1.jpg', '', 'Oddity Studio', 'Contract')
                    +b(data-tooltip-left="done").project-percent--ninety-percent.js-arrow-left-link
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-2.jpg', 'am', 'Designer Name', 'Contract')
                    +b(data-tooltip-left="done").project-percent--ninety-percent.js-arrow-left-link
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-3.jpg', 'p', 'Design Studio with super long name', 'Contract')
                    +b(data-tooltip-left="done").project-percent--ninety-percent.js-arrow-left-link
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-1.jpg', '', 'Oddity Studio', 'Contract')
                    +b(data-tooltip-left="done").project-percent--ninety-percent.js-arrow-left-link
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-2.jpg', 'am', 'Designer Name', 'Contract')
                    +b.project-percent--ninety-percent
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-3.jpg', 'p', 'Design Studio with super long name', 'Contract')
                    +b.project-percent--ninety-percent
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-1.jpg', '', 'Oddity Studio', 'Contract')
                    +b.project-percent--ninety-percent
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-2.jpg', 'am', 'Designer Name', 'Contract')
                    +b.project-percent--ninety-percent
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-3.jpg', 'p', 'Design Studio with super long name', 'Contract')
                    +b.project-percent--ninety-percent
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-1.jpg', '', 'Oddity Studio', 'Contract')
                    +b.project-percent--ninety-percent
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-2.jpg', 'am', 'Designer Name', 'Contract')
                    +b.project-percent--ninety-percent
            +e.item--studio
                //- используем section/project/project-studio.jade
                +project-studio('/images/content/project-studio-3.jpg', 'p', 'Design Studio with super long name', 'Contract')
                    +b.project-percent--ninety-percent

//- ====================
//- Archiparti: project-studio
//- 30-09-2016: korvin
//- --------------------
//- Миксин студии
//- ====================
//-image - добавляем картинку
//- avatar -  если есть аватар
//- icon_text - если вместо автара иконка с текстом
//- Название студии
//- текст
mixin project-studio(image, icon_text, name, text)
    +b.project-studio
        +e('a')(href="javascript:void(0);" title="").link
            +e.image
                //- +e.img(src="#{image}" alt='' title='')
                if icon_text
                    +b.question--studio
                        +e.content--studio #{icon_text}
                else
                    +avatar('/images/content/avatar-1.png').--studio
                        //- +e.content--studio o
            +e.name #{name}
            block
        +brief(text).--studio
        //- +e('a')(href="javascript:void(0);" title="Contract").contract
        //-     i.icon-contract
        //-     span #{contract}