//- ====================
//- Archiparti: project-list
//- 29-09-2016: korvin
//- --------------------
//- project-list
//- ====================


//- ====================
//- Archiparti: project-list
//- 29-09-2016: korvin
//- --------------------
//- Основной миксин
//- ====================
//-modif - модификатор для b-project-name
//-modif_color_name - добавляем модификатор к b.project-color
//-load - добавялем полосу загрузщки, если она нужна
//-modif_color - добавляем модификатор к b.project-percent
//-modif_list - добавляем модификатор к списку
mixin project-list(modif, modif_color_name, modif_color, brief)
    +b.project-list(class!=attributes.class)
        +e.item--visible.js-aside-hover(class="#{file_name == 'main' ? '' : 'active'}")
            +e('a').link(href="javascript:void(0);" title="")
                //- используем section/project/project-name.jade
                +project-name('Concept', 'Project Name two lines', modif)
                //- используем section/project/project-color.jade
                +project-color('ab', '', modif_color_name, '--ninety-percent', modif_color)
            if brief == true
                +brief('Initial brief').--menu
        +e.item--visible.js-aside-hover
            +e('a').link--red(href="javascript:void(0);" title="")
                //- используем section/project/project-name.jade
                +project-name('Schematic', 'My Dress Office Construction', modif)
                //- используем section/project/project-color.jade
                +project-color('cd', '--red', modif_color_name, '--ten-percent', modif_color)
            if brief == true
                +brief('Initial brief').--menu
        +e.item--visible.js-aside-hover
            +e('a').link--orange(href="javascript:void(0);" title="")
                //- используем section/project/project-name.jade
                +project-name('Construction', 'Garage Office Design', modif)
                //- используем section/project/project-color.jade
                +project-color('f', '--orange', modif_color_name, '--fifty-percent', modif_color)
            if brief == true
                +brief('Initial brief').--menu
        +e.item--transparent.js-aside-hover
            +e('a').link--green(href="javascript:void(0);" title="")
                //- используем section/project/project-name.jade
                +project-name('Rendering', 'Privat Home Renovations', modif)
                //- используем section/project/project-color.jade
                +project-color('te', '--green', modif_color_name, '', modif_color)
            if brief == true
                +brief('Initial brief').--menu
        +e.item.js-aside-hover
            +e('a').link--blue(href="javascript:void(0);" title="")
                //- используем section/project/project-name.jade
                +project-name('Rendering', 'Project Name two lines', modif)
                //- используем section/project/project-color.jade
                +project-color('te', '--blue', modif_color_name, '--done', modif_color)
            if brief == true
                +brief('Initial brief').--menu
        +e.item.js-aside-hover
            +e('a').link--blue(href="javascript:void(0);" title="")
                //- используем section/project/project-name.jade
                +project-name('Rendering', 'Project Name two lines', modif)
                //- используем section/project/project-color.jade
                +project-color('te', '--blue', modif_color_name, '--done', modif_color)
            if brief == true
                +brief('Initial brief').--menu

//- ====================
//- Archiparti: project-list-studio
//- 30-09-2016: korvin
//- --------------------
//- Основной миксин
//- ====================
//-modif_color_name - добавляем модификатор к b.project-color
//-modif_color - добавляем модификатор к b.project-percent
mixin project-list-studio-color(modif_color_name, modif_color)
    +b.project-list--color
        +e.item--color-studio.--visible
            +e('a').link.--color(href="javascript:void(0);" title="" class="#{modif_color}")
                //- используем section/project/project-color.jade
                +project-color('pm', '', modif_color_name, '--ninety-percent', modif_color)
        +e.item--color-studio.--visible
            +e('a').link.--blue.--color(href="javascript:void(0);" title="" class="#{modif_color}")
                //- используем section/project/project-color.jade
                +project-color('md', '--blue', modif_color_name, '--ninety-percent', modif_color)