//- ====================
//- Archiparti: project-color
//- 29-09-2016: korvin
//- --------------------
//- project-list
//- ====================


//- ====================
//- Archiparti: project-color
//- 29-09-2016: korvin
//- --------------------
//- Основной миксин
//- ====================
//-name - название
//-color_name - добавляем модификатор чтобы изменить цвет
//-modif_color_name - добавляем модификатор к b.project-color
//-load - добавялем полосу загрузщки, если она нужна
//-color - добавляем модификатор чтобы изменить цвет у полосы загрузки
//-modif_color - добавляем модификатор к b.project-percent
mixin project-color(name, color_name, modif_color_name, color, modif_color)
    +b.project-color(class='#{modif_color_name} #{color_name}')
        +e.name #{name}
        +b.project-percent.js-arrow-left-link(class="#{color} #{modif_color}" data-tooltip-left="done")