//- ====================
//- Archiparti: project-name
//- 29-09-2016: korvin
//- --------------------
//- project-name
//- ====================


//- ====================
//- Archiparti: project-name
//- 29-09-2016: korvin
//- --------------------
//- Основной миксин
//- ====================
//-caption - подпись
//-title - заголовок
//-modif - добавляем модификатор если нужно
mixin project-name(caption, title, modif)
    +b.project-name(class="#{modif}")
        +e.caption #{caption}
        +e.title #{title}