/* 960 + */
.b-task-chat {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    top: 0;
    z-index:1;
    overflow-y: hidden;
    transform: translateY(-500%);
    transition: left 0.4s ease-in-out, right 0.4s ease-in-out, transform 0.4s ease-in-out;

    // &:before {
    //     content: '';
    //     width: 20px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     margin-left: -22px;
    //     height: 100%;
    //     background: url('/images/inhtml/dotted.svg') repeat;
    //     background-position: 7px -1px;
    //     background-size: 6px;//9px 10px;
    //     background-color: @cl-Archiparti-white;
    // }

    &__gradient-block {
        display: none;

        width: 100%;
        height: 236px;
        position: absolute;
        bottom: 0;
        content: '';
        opacity: 0.3;
        z-index: 1;
        background: rgba(254,182,69,0.01);
        background: -moz-linear-gradient(top, rgba(254,182,69,0.01) 0%, rgba(250,134,92,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,182,69,0.01)), color-stop(100%, rgba(250,134,92,1)));
        background: -webkit-linear-gradient(top, rgba(254,182,69,0.01) 0%, rgba(250,134,92,1) 100%);
        background: -o-linear-gradient(top, rgba(254,182,69,0.01) 0%, rgba(250,134,92,1) 100%);
        background: -ms-linear-gradient(top, rgba(254,182,69,0.01) 0%, rgba(250,134,92,1) 100%);
        background: linear-gradient(to bottom, rgba(250, 206, 97, 0), #fa5d5d);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#fa865c', GradientType=0 );
    }

    &.active {
        transform: translateY(0);
    }
}