/* 960 + */
.b-project-menu {
    height: 100%;
    overflow-x: visible;
    background-color: @cl-Archiparti-bckground-menu;

    &__inner {
        overflow-y: hidden;
        height: 100%;
        width: calc(~"100% + 32px");
        padding-right: 32px;

        &--studio {
            width: calc(~"100% + 14px");
            padding-right: 14px;
        }
    }

    .ps-scrollbar-y-rail {
        display: none;
    }

    &--project {
        width: 216px;
        vertical-align: top;
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    //модификаторы для списка со студиями
    &--studio-outer {
        max-height: none;
        position: relative;
        z-index: 1;
        height: 100%;
        margin-right: -2px;
        border-left: solid 2px @cl-Archiparti-black;
        overflow-x: visible;
        width: 150px;
        vertical-align: top;
        display: inline-block;

        transform: translateX(-100%);

        transition: all .5s ease-out;

        .b-aside--studio-menu & {
            transform: translateX(0);
        }
        // НЕ УДАЛЯТЬ ЭТОТ КОММЕНТАРИЙ. БУДЕТ ДОРАБАТЫВАТЬСЯ
        // .no-touch &:hover {
        //     z-index: 2;
        // }
    }

    //модификаторы для списка со студиями
    &--studio {
        display: inline-block;
        vertical-align: top;
        width: 41px;
    }

    &__text-project {
        padding-left: 32px;

        display: block;
        white-space: nowrap;

        .b-aside--min-menu &,
        .b-aside--studio-menu & {
            // display: none;
            opacity: 0;
        }

        .b-aside--max-menu & {
            opacity: 0.5;
        }

        &--studio {
            opacity: 0;
            transform: translateX(-100%);
            position: absolute;
        }
    }

    &__dividing-line {
        display: block;
        width: 100%;
        height: 34px;
        background: url('/images/inhtml/dotted.svg') repeat;
        background-size: 6px;
        background-position: 6px -3px;
    }

    &__description {
        padding-left: 28px;
        padding-top: 20px;
    }

    &__caption,
    &__text {
        color: @cl-font-white;
        line-height: 20px;
    }

    &__caption {
        font-size: 12px;
        font-family: @font-playfairdisplay-italic;
        margin-bottom: 62px;
        padding-right: 40px;
    }

    &__text {
        font-family: @font-catesque-bold;
        font-size: 16px;
        margin-bottom: 28px;
        padding-right: 50px;
    }

    &__list {
        padding-left: 4px;
    }

    &__item {
        display: block;
        width: 5px;
        height: 5px;
        background: @cl-font-white;
        border-radius: 50%;
        margin-bottom: 10px;

        &:nth-child(2) {
            opacity: 0.5;
        }

        &:nth-child(3) {
            opacity: 0.3;
            margin-bottom: 20px;
        }

        &:nth-child(4) {
            opacity: 0.2;
            margin-bottom: 30px;
        }

        &:nth-child(5) {
            opacity: 0.1;
        }
    }

    &__icon {
        // margin-bottom: 120px;
        height: 260px;
        // НЕ УДАЛЯТЬ
        // padding-top: 34px;
        // padding-left: 31px;
        // padding-right: 16px;
        padding: 34px 20px 0;


        .b-aside--min-menu &,
        .b-aside--studio-menu & {
            // НЕ УДАЛЯТЬ
            // margin-left: 150px;
            margin-left: 160px;
            // border-left: 2px solid #000;
            position: relative;
            transition: all .5s ease-out;


        }

        .b-aside--max-menu.b-aside--min-menu &,
        .b-aside--max-menu.b-aside--studio-menu & {
            margin-left: 0px;
        }

        &--project {
            overflow: hidden;
            transition: all .5s ease-out 0s;
        }

        // используется в маленьком меню
        &--studio {
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
        }
    }

    &__history {
        margin-bottom: 25px;
        display: block;
        font-size: 12px;
        line-height: 20px;
        color: @cl-font-white;
        opacity: 0.5;
        position: relative;

        i {
            display: inline-block;
            font-size: 16px;
            vertical-align: middle;
            float: left;
        }

        &__text-history {
            padding-left: 22px;
        }

        .no-touch &:hover {
            opacity: 1;

            transition: all .5s ease;
        }
    }
}