@font-face {
    font-family: 'catesque-black';
    src: url('../fonts/30C503_0_0.eot');
    src: url('../fonts/30C503_0_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/30C503_0_0.woff2') format('woff2'),
        url('../fonts/30C503_0_0.woff') format('woff'),
        url('../fonts/30C503_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'catesque-bold';
    src: url('../fonts/30C503_1_0.eot');
    src: url('../fonts/30C503_1_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/30C503_1_0.woff2') format('woff2'),
        url('../fonts/30C503_1_0.woff') format('woff'),
        url('../fonts/30C503_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'catesque-light';
    src: url('../fonts/31CBEB_0_0.eot');
    src: url('../fonts/31CBEB_0_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/31CBEB_0_0.woff2') format('woff2'),
        url('../fonts/31CBEB_0_0.woff') format('woff'),
        url('../fonts/31CBEB_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'playfairdisplay-italic';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
        url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
        url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'playfairdisplay-bolditalic';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
        url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype');
}