// Fonts
// font-base не трогать!!! Ниже добавлять свои стили
@font-base: "Arial";

@font-catesque-black: "catesque-black";
@font-catesque-bold: "catesque-bold";
@font-catesque-light: "catesque-light";
@font-playfairdisplay-italic: "playfairdisplay-italic";
@font-playfairdisplay-bolditalic: "playfairdisplay-bolditalic";



// Media
@desktop-big: ~"(min-width: 1980px)";
@desktop: ~"(min-width: 1600px)";
@desktop-min: ~"(min-width: 1280px)";

// Colors
// Цвета theme не трогать!!!
@cl-theme-global: #000;
@cl-theme-link: #cc2226;
@cl-theme-link-hover: #cc2226;
@cl-theme-grey: #858585;

@animation-time: 0.2s;


@cl-font-white: #fff;
@cl-font-black: #000;
@cl-font-to-do-name: #9b9b9b;
@cl-font-link: #e60002;
@cl-font-actions-list: rgba(255, 255, 255, 0.8);

// @cl-project-button-bg: #FFFCE9;
//Цвета проекта. Добавлять cl-названиепроекта-описание

//цвета Ui-Kit
@cl-Archiparti-white: #fff;
@cl-Archiparti-black: #000000;
@cl-Archiparti-red: #e60002;
@cl-Archiparti-bckground-menu: #202020;
@cl-Archiparti-bckground-menu-item: #303030;
// @cl-Archiparti-menu-item-1: #e0093d;
// @cl-Archiparti-menu-item-2: #df0002;
// @cl-Archiparti-menu-item-3: #fe593e;
// @cl-Archiparti-menu-item-4: #b0a700;
// @cl-Archiparti-menu-item-5: #60c5ad;
@cl-Archiparti-menu-item-1: #ba0708;
@cl-Archiparti-menu-item-2: #e23119;
@cl-Archiparti-menu-item-3: #e8972c;
@cl-Archiparti-menu-item-4: #a89100;
@cl-Archiparti-menu-item-5: #73adb8;
@cl-Archiparti-background: #fafafa;
@cl-Archiparti-background-modal: rgba(0, 0, 0, 0.8);
@cl-Archiparti-header-text: #f4001e;
@cl-Archiparti-line: #979797;
@cl-Archiparti-background-rgba: rgba(0, 0, 0, 0.9);
@cl-Archiparti-background-tooltip: rgba(0, 0, 0, 0.8);
@cl-Archiparti-font: #9b9b9b;
@cl-Archiparti-border: #e4e4e4;
@cl-Archiparti-background-menu-studio: #1b1b1b;
@cl-Archiparti-background-avatar: #f5f5f3;
@cl-Archiparti-icon-message: #7ed321;
@cl-Archiparti-icon-star: #4a90e2;
@cl-Archiparti-icon-mark: rgba(0, 0, 0, 0.2);
@cl-Archiparti-border: rgba(0, 0, 0, 0.1);
@cl-Archiparti-file-background: #f1f1f1;
@cl-Archiparti-file-border: #d3d3d3;
@cl-Archiparti-send-hover: #ff0002;
@cl-Archiparti-disable: rgba(255, 255, 255, 0.3);
@cl-Archiparti-percent-1: #f41515;
@cl-Archiparti-percent-2: #ffdb00;
@cl-Archiparti-percent-3: #f2ff00;
@cl-Archiparti-percent-4: #f49415;
@cl-Archiparti-percent-5: #91f415;
@cl-Archiparti-percent-6: #ffea00;
@cl-Archiparti-percent-7: #a6ff38;
@cl-Archiparti-percent-8: #00e101;
@cl-Archiparti-percent-9: rgba(166, 255, 55, 0);