/* 960 + */
.b-modal-message {
    width: 422px;
    margin: 50px auto 121px;
    // margin-top: 50px;
    padding-right: 50px;

    &__icon-top {
        margin-bottom: 68px;

        i {
            display: inline-block;
            vertical-align: middle;
            color: @cl-Archiparti-red;
            font-size: 65px;
        }
    }

    &__title {
        font-family: @font-catesque-light;
        font-size: 42px;
        line-height: 51px;
        margin-bottom: 48px;
    }

    &__name {
        font-family: @font-playfairdisplay-bolditalic;
        color: @cl-Archiparti-red;
    }


    &__text p {
        font-size: 16px;
        line-height: 26px;
    }
}