/* 960 + */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: @font-catesque-light;
}

* {
    outline: none;
    // -moz-transition: all 0.3s ease-out;
    // -o-transition: all 0.3s ease-out;
    // -webkit-transition: all 0.3s ease-out;
}


/* MAIN : 1000 + */
.b-justify {
    text-align: justify;
    font-size: 1px;
    line-height: 0px;

    &:after {
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: "";
        display: inline-block;
    }
}

input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}