//- ====================
//- Archiparti: footer_main
//- 29-08-2016: Mel. Blimm
//- --------------------
//- Футер страниц
//- ===================


//- Archiparti: mixin footer_main
//- 29-08-2016: Mel. Blimm
//- ---------------------
//- Основной шаблон футера
mixin footer_main()
    | footer