//- ====================
//- Archiparti: Шапка сайта
//- 28-09-2016: websagdiev
//- --------------------
//- Шапка
//- ====================


//- Archiparti: mixin header
//- 28-09-2016: websagdiev
//- ---------------------
//- Шапка сайта - главный миксин
mixin header()
    +b('header').header
        +b.menu
            +e('ul').list
                +e('li').item
                    +e('a')(href="javascript:void(0);").link.js-menu
                        +avatar('/images/content/avatar.jpg').--header
                        +e.block-link
                            | My Portfolio
                            i.icon-arrow
                    //- миксин в файле section/more-actions.jade
                    +more-actions()
                +e('li').item
                    +e('a')(href="javascript:void(0);").link--color.js-menu
                        +e('span').wrapper.--active
                            +e('span').number 5
                            i.icon-bell
                        | Project Manager
                    //- миксин в файле section/last-project.jade
                    +last-project()
                        //- миксин в section/latest-message
                        +latest-message('/images/content/avatar.jpg', 'Oddity Studio ', 'message at ', 'Just now', 'message').--project
                            +e.name Reference images 
                            +e.cursive Can you please let me&nbsp;know...
                        +latest-message('/images/content/avatar-1.png', 'Oddity Studio ', 'changed status at ', '1h ago', 'star').--project
                            +e.name Hand sketch layout plan 
                            +e.text to 
                            +e.cursive Waiting Approval
        +b.logo
            +e('a')(href="javascript:void(0);").link
                +e('img')(src="/images/inhtml/archiparti.svg" alt="Archiparti" title="Archiparti").image
        +b.language
            +e('a')(href="javascript:void(0);").link 
                +e('img')(src="/images/inhtml/lang-china.svg" alt="language" title="language").image