/* 960 + */
.b-modal {
    position: relative;
    margin: 0 auto;
    background-color: @cl-Archiparti-white;

    &--gallery {
        background-color: transparent;
    }

    &--content {
        width: 600px;
        // height: 600px;
        padding: 20px;
        border: 4px solid @cl-Archiparti-black;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        color: @cl-font-black;
        z-index: 3;

        i {
            font-size: 10px;
            display: inline-block;
            vertical-align: middle;
        }

        &--content {
            right: 17px;
            top: 17px;
        }

        &--gallery {
            right: 0px;
            top: 0px;
            position: fixed;
            padding: 20px;
            color: @cl-Archiparti-white;
        }
    }
}