/* 960 + */
.b-project-color {
    background: @cl-Archiparti-menu-item-1;
    vertical-align: top;
    // width: 43px;
    width: 58px;
    border-left: solid 2px @cl-Archiparti-black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    .no-touch .b-project-list__item:hover &,
    .b-project-list__item.active & {
        // width: 58px;
        width: 68px;

        // используется в маленьком меню
        &--min {
            &:before {
                background-image: none;
                display: none;
            }
        }

        //модификатор для меню со студиями
        &--studio {
            &:before {
                background-image: none;
                display: none;
            }
        }
    }
    .no-touch .b-project-list__item:hover & {

        &:before {
            opacity: 1;
        }
    }

    &:before {
        content:"";
        position: absolute;
        top: 0;
        right: 0px;
        width: 100%;
        height: 100%;
        background: url('/images/inhtml/dotted.svg') repeat;
        background-size: 7px;
        background-position: 8px 0px;
        opacity: 0;
        transition: all 0.3s ease-out;
    }

    //модификатор для меню со студиями
    &--studio {
        // width: 45px;
        padding: 0;
        border: none;
        text-align: center;
        height: 150px;

        &:before {
            display: none;
        }
    }

    //модификатор для другого цвета
    &--red {
        background-color: @cl-Archiparti-menu-item-2;
    }

    //модификатор для другого цвета
    &--orange {
        background: @cl-Archiparti-menu-item-3;
    }

    //модификатор для другого цвета
    &--green {
        background: @cl-Archiparti-menu-item-4;
    }

    //модификатор для другого цвета
    &--blue {
        background: @cl-Archiparti-menu-item-5;
    }

    // используется в маленьком меню
    &--min {
        width: 100%;
        height: 150px;
        border: none;
        // padding-left: 5px;
        // padding-right: 5px;

        &:before {
            display: none;
        }
    }

    &__name {
        font-size: 20px;
        text-transform: uppercase;
        font-family: @font-catesque-black;
        line-height: 20px;
        color: @cl-font-white;
        text-align: center;
        z-index: 3;
        position: relative;
    }

    .b-project-list__item &__name {
        opacity: 0.2;
    }

    .b-project-list__item--transparent &__name {
        opacity: 0.5;
    }

    .b-project-list__item--visible &__name {
        opacity: 1;
    }
    
    .no-touch .b-project-list__item:hover &__name,
    .b-project-list__item.active &__name {
        opacity: 1;
    }
}