/* 960 + */
.b-look-file {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    padding: 16px 0;
    position: absolute;
    display: block;
    transform: translateY(-500%);
    transition: bottom 0.9s ease-in-out, top 0.9s ease-in-out, transform 0.9s ease-in-out;
    background-color: @cl-Archiparti-background;
    z-index: 2;

    &.active {
        transform: translateY(0);
    }

    &__link {
        font-size: 12px;
        display: block;
        color: @cl-font-black;
        margin-left: 24px;
        margin-bottom: 13px;

        i {
            display: inline-block;
            vertical-align: middle;
            font-size: 8px;
            margin-right: 10px;
        }
    }

    &__wrapper {
        height: calc(~"100% - 20px");
        overflow-y: hidden;
    }

    .ps-scrollbar-y-rail {
        display: none;
    }
}