//- ====================
//- Archiparti: gui
//- 28-09-2016: drtvader
//- --------------------
//- gui
//- ====================

//- Используем стандартный шаблон Archiparti
extends ./template/base_layout
//- Используем Archiparti: question.jade: mixin +question()
include ./section/gui/question.jade
//- Используем Archiparti: more-actions.jade: mixin +more-actions()
include ./section/more-actions.jade
//- Используем Archiparti: drop-down.jade: mixin +drop-down()
include ./section/gui/drop-down.jade
//- Используем Archiparti: tooltip.jade: mixin +tooltip()
include ./section/gui/tooltip.jade
//- Используем Archiparti: home.jade: mixin +project-list-studio-color()
include ./section/project/project-list.jade
//- Используем Archiparti: home.jade: mixin +project-menu()
include ./section/project/project-menu.jade
//- Используем Archiparti: home.jade: mixin +project-color()
include ./section/project/project-color.jade
//- Используем Archiparti: project-name.jade: mixin +project-name()
include ./section/project/project-name.jade
//- Используем Archiparti: project-studio.jade: mixin +project-studio()
include ./section/project/project-studio.jade
//- Используем Archiparti: info-task.jade: mixin +info-task()
include ./section/info-task.jade
//- Используем Archiparti: file-list.jade: mixin +file-list()
include ./section/file-list.jade
//- Используем Archiparti: deadline.jade: mixin +deadline()
include ./section/gui/deadline.jade
//- Используем Archiparti: tooltip.jade: mixin +tooltip()
include ./section/gui/tooltip.jade
//- Используем Archiparti: file-list.jade: mixin +file-list()
include ./section/file-list.jade
//- Используем Archiparti: look-file.jade: mixin +look-file()
include ./section/look-file.jade
//- Используем Archiparti: brief.jade: mixin +brief()
include ./section/gui/brief.jade





block variables
    - var file_name = 'gui'

//- Модифицируем head
block head
    - var pageTitle = 'GUI';

//- Выводим content
block content
    .b-container
        +b.wrapper-aside
            +b('aside').aside
                //- используем section/project/project-menu.jade
                +project-menu(false)
                    //- используем section/project/project-list.jade
                    +project-list('', '', '', '', '')
        +b('main').main--home
            +b.gui
                //- /section/gui/question.jade
                +question()
                //- section/gui/tooltip.jade
                +tooltip(false, false, '', true).--bottom-arrow.--status-change
                //- section/gui/tooltip.jade
                +tooltip('mini', 'Past projects').--left-arrow.--mini
                //- section/gui/tooltip.jade
                +tooltip('mini', '90% done').--left-arrow.--mini
                //- section/gui/tooltip.jade
                +tooltip('question', '').--bottom-arrow.--big
                div
                    +b('a')(href="#content" data-toggle="modal" title='').link Контентный
                div
                    +b('a')(href="#gallery" data-toggle="modal" title='').link Галерея
                div
                    +b('a')(href="javascript:void(0);" title='').button.--send Send
                br
                div
                    +b('button').button.--send Send
                br
                div
                    +b('button')(disabled).button.--send Send
                br
                div
                    //- Используем Archiparti: deadline.jade: mixin +deadline()
                    +deadline()
                div
                    +look-file()