//- ====================
//- Archiparti: main
//- 27-09-2016: drtvader
//- --------------------
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Archiparti
extends ./template/base_layout
//- Используем Archiparti: home.jade: mixin +home-page()
include ./section/home.jade
//- Используем Archiparti: home.jade: mixin +project-menu()
include ./section/project/project-menu.jade
//- Используем Archiparti: home.jade: mixin +project-list()
include ./section/project/project-list.jade
//- Используем Archiparti: home.jade: mixin +project-color()
include ./section/project/project-color.jade
//- Используем Archiparti: home.jade: mixin +project-name()
include ./section/project/project-name.jade
//- Используем Archiparti: home.jade: mixin +project-list-studio()
include ./section/project/project-studio.jade
//- Используем Archiparti: tooltip.jade: mixin +tooltip()
include ./section/gui/tooltip.jade
//- Используем Archiparti: brief.jade: mixin +brief()
include ./section/gui/brief.jade


block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';

//- Выводим content
block content
    .b-container
        +b.wrapper-aside
            +b('aside').aside--max-menu
                +e('aside').inner
                    //- используем section/project/project-menu.jade
                    +project-menu(true).--project
                        //- используем section/project/project-list.jade
                        +project-list('', '', '', true)
                    +project-list-studio() 
        +b('main').main--home
            //- используем section/home.jade
            +home-page()

    
    //- section/gui/tooltip.jade
    +tooltip('mini', '90% done').--left-arrow.--mini.done.js-tooltip-arrow-left-cont