//- ====================
//- Archiparti: page-project
//- 29-09-2016: drtvader
//- --------------------
//- page-project
//- ====================

//- Используем стандартный шаблон Archiparti
extends ./template/base_layout
//- Используем Archiparti: tool-page.jade: mixin +tool-page()
include ./section/tool-project.jade
//- Используем Archiparti: todo.jade: mixin +todo()
include ./section/todo.jade
//- Используем Archiparti: home.jade: mixin +project-menu()
include ./section/project/project-menu.jade
//- Используем Archiparti: home.jade: mixin +project-list()
include ./section/project/project-list.jade
//- Используем Archiparti: home.jade: mixin +project-color()
include ./section/project/project-color.jade
//- Используем Archiparti: home.jade: mixin +project-name()
include ./section/project/project-name.jade
//- Используем Archiparti: tooltip.jade: mixin +tooltip()
include ./section/gui/tooltip.jade
//- Используем Archiparti: avatar.jade: mixin +avatar()
include ./section/gui/avatar.jade
//- Используем Archiparti: info-task.jade: mixin +info-task()
include ./section/info-task.jade
//- Используем Archiparti: file-list.jade: mixin +file-list()
include ./section/file-list.jade
//- Используем Archiparti: task-chat.jade: mixin +task-chat()
include ./section/task-chat.jade
//- Используем Archiparti: comment.jade: mixin +comment()
include ./section/gui/comment.jade
//- Используем Archiparti: form-comment.jade: mixin +form-comment()
include ./section/gui/form-comment.jade
//- Используем Archiparti: brief.jade: mixin +brief()
include ./section/gui/brief.jade
//- Используем Archiparti: home.jade: mixin +project-list-studio()
include ./section/project/project-studio.jade
//- Используем Archiparti: look-file.jade: mixin +look-file()
include ./section/look-file.jade


block variables
    - var file_name = 'page-project'
    - var addBlockMain = true

//- Модифицируем head
block head
    - var pageTitle = 'Страница с проектами';

//- Выводим content
block content
    .b-container
        +b.wrapper-aside
            +b('aside').aside--min-menu
                +e.inner
                    //- используем section/project/project-menu.jade
                    +project-menu(true).--project
                        //- используем section/project/project-list.jade
                        +project-list('', '', '', true)
                    +project-list-studio() 
        +b('main').main.js-scroll-block
            //- миксин  в файле tool-project.jade
            +tool-project()
                //- миксин  в файле todo.jade
                +todo()
                    - var data = {"items": [{"name": "Hand sketch layout plan", "deadline": "5 Aug, 12:00pm", "assigned": "Oddity Studio"}] }
                    //- миксин  в файле todo.jade
                    +todo-item('/images/content/avatar.jpg', data)
                        +e.icon
                            i.icon-mark
                    - var data = {"items": [{"name": "Reference images", "deadline": "10 Aug, 01:00pm", "assigned": "Client"}] }
                    //- миксин  в файле todo.jade
                    +todo-item('/images/content/avatar-1.png', data)
                        +e('a')(href="javascript:void(0);" title="All approved").icon
                            i.icon-waiting-client
                        //- //- section/gui/tooltip.jade
                        //- +tooltip('mini', 'Waiting approval').--bottom-arrow.--mini
                    - var data = {"items": [{"name": "Quotation of design fee", "deadline": "15 Aug, 11:00am", "assigned": "Oddity Studio"}] }
                    //- миксин  в файле todo.jade
                    +todo-item('/images/content/avatar-1.png', data)
                        +e.icon
                            i.icon-waiting-designer
        +b.wrapper-aside.--project-diary
            +b('aside').aside.--project-diary
                +b.project-list--project-diary.js-scroll-block.js-task-chat-off
                    +b.project-diary
                        +e.wrapper-title
                            h2 Project Diary
                        +e('ul').list
                            //- используем section/latest-message.jade
                            +latest-message('/images/content/avatar-1.png', 'Oddity Studio ', 'message at ', 'Just now', 'message').--project-diary
                                //- пробелы у name не убирать
                                +e.name Reference images 
                                +e.cursive Can you please let me&nbsp;know...
                            +latest-message('/images/content/avatar-1.png', 'Oddity Studio ', 'changed status at ', '1h ago', 'star').--project-diary
                                +e.name Hand sketch layout plan to 
                                +e.cursive Waiting Approval
                            +latest-message('/images/content/avatar.jpg', 'Garage ', 'confirm ', '2th Aug, 04:03pm', false).--project-diary
                                +e.name Contract for Concept Stage
                            +latest-message('/images/content/avatar.jpg', 'Garage ', 'received information of interested designers ', '1th Aug, 12:12pm', false).--project-diary
                            +latest-message('', 'archiparti ', 'receiving all information from ', '1th Aug, 01:00pm', false, 'a').--project-diary
                                +e.name Garage 
                        +e('p').last-text - The End -
                //- section/task-chat.jade
                +task-chat().js-task-chat-on
                    //- section/info-task.jade
                    +info-task('5 Aug, 12:00pm', 'Hand sketch layout plan name for two lines', 'smile')
                        //- section/file-list.jade
                        +file-list()
                            //- section/file-list.jade
                            +file-item('images/content/modal-gallery-3.jpg', 'image', '', '#gallery')(data-toggle="modal")
                            //- section/file-list.jade
                            +file-item('images/content/modal-gallery-1.jpg', 'image', '', '#gallery')(data-toggle="modal")
                            //- section/file-list.jade
                            +file-item('', 'pdf', '.psd', 'javascript:void(0);').--pdf
                            //- section/file-list.jade
                            +file-item('', 'pdf', '.pdf', 'javascript:void(0);').--pdf
                            
                    //- section/gui/comment.jade
                    +comment('')
                        //- section/gui/comment-message.jade
                        +comment-message('So archiparti say 8pm tonight? We need to do it tonight right? Or we can do it tomorrow morning say early in the morning', '/images/content/avatar.jpg', '5 Aug, 12:00pm')
                        //- section/gui/comment-message.jade
                        +comment-message('Here you for the file', '/images/content/avatar.jpg', '5 Aug, 12:00pm')
                            //- section/file-list.jade
                            +file-list.--comment
                                //- section/file-list.jade
                                +file-item('images/content/modal-gallery-3.jpg', 'image', '', 'javascript:void(0);').--comment
                                //- section/file-list.jade
                                +file-item('', 'pdf', '.prd', 'javascript:void(0);').--comment
                        //- section/gui/comment-message.jade
                        +comment-message('Thank you!', '/images/content/avatar-1.png', '5 Aug, 12:00pm').--text-left
                        //- section/gui/comment-message.jade
                        +comment-message('Hey, here you go for the design. Please, keep in mind, that this is sketches, and they are not final. 1. A very calssy way, warm colours, cosu furniture 2. A bit more modern, minimal, and clear.', '/images/content/avatar-1.png', '5 Aug, 12:00pm').--text-left
                        //- section/gui/comment-message.jade
                        +comment-message('Thank you!', '/images/content/avatar-1.png', '5 Aug, 12:00pm')
                        //- section/gui/comment-message.jade
                        +comment-message('Hey, here you go for the design. Please, keep in mind, that this is sketches, and they are not final. 1. A very calssy way, warm colours, cosu furniture 2. A bit more modern, minimal, and clear.', '/images/content/avatar-1.png', '5 Aug, 12:00pm').text-left
                        +e.error
                            +b.avatar--form-comment
                                +e.content--form-comment !
                            +e.text Oh, no! Something went wrong. Your message wasn&rsquo;t post.
                    +e.gradient-block
                //- список файлов, миксим /section/look-file.jade
                +look-file()
    //- mixin modal(id)
    +modal("content")(class='--content')
        //- section/modal-message.jade
        +modal-message()

    //- mixin modal(id)
    +modal("gallery")(class='--gallery')
        //- section/modal-gallery.jade
        +modal-gallery()
    //- section/gui/tooltip.jade
    +tooltip('link', '').--bottom-arrow.--status-change.status-change.js-tooltip-cont
    //- section/gui/tooltip.jade
    +tooltip('mini', 'Waiting approval').--bottom-arrow.--mini.bottom-arrow-mini.js-tooltip-cont
    //- section/gui/tooltip.jade
    +tooltip('mini', '90% done').--left-arrow.--mini.done.js-tooltip-arrow-left-cont
    //- section/gui/tooltip.jade
    +tooltip('mini', 'Pending projects').--left-arrow.--mini.pending.js-tooltip-arrow-left-cont
    //- section/gui/tooltip.jade
    +tooltip('mini', 'Past projects').--left-arrow.--mini.past.js-tooltip-arrow-left-cont
    //- section/gui/tooltip.jade
    +tooltip('mini', 'FileName.jpg 5 Aug, 12:00pm').--bottom-arrow.--mini.bottom-arrow-file.--file.js-tooltip-cont