/* 960 + */
.b-aside {
    background-color: @cl-Archiparti-bckground-menu;
    border: solid 2px @cl-Archiparti-black;
    display: inline-block;
    flex-shrink: 0;
    font-size: 1px;
    height: 100%;
    position: relative;
    transition: all .5s ease-out;
    width: 220px;

    // используем для боковушки со списком проектов
    &--project-diary {
        background-color: transparent;
        background-image: linear-gradient(to bottom, #facf61, #fa5d5d), linear-gradient(to top, #e0093d, #ffffff);
        width: 100%;
        // max-width: 350px;
        // width: 30%;

        .no-touch &:hover {
            z-index: 2;
        }
    }

    &--studio-menu {
        width: 208px; // потом заменить на 195
    }
    // используем для меню минимизированного проектов
    &--min-menu {
        width: 60px; // потом заменить на 45
    }
    // используем для меню проектов команды
    &--max-menu {
        width: 220px;
    }
    &__inner {
        height: 100%;
        transition: all 0.5s ease-out;
        width: 370px;
    }
    &--studio-menu &__inner {
        margin-left: -160px;
    }
    &--min-menu &__inner {
        margin-left: -160px;
    }
    &--max-menu &__inner {
        margin-left: 0px;
    }
}