/* 960 + */
.b-menu {

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__item {
        position: relative;
        list-style: none;
        margin-right: 62px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        font-size: 11px;
        font-family: @font-catesque-light;
        color: @cl-font-black;
        // padding: 12px 0;

        // модификатор для цвета ссылок

        &--color {
            color: @cl-Archiparti-red;
        }

        & i {
            font-size: 5px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
    }

    &__number {
        display: none;
        position: absolute;
        top: 50%;
        left: 19px;
        margin-top: -19px;
        font-size: 9px;
    }

    &__wrapper {
        display: inline-block;
        // vertical-align: middle;
        width: 21px;
        height: 21px;
        background: @cl-Archiparti-black;
        opacity: 0.5;
        text-align: center;
        border-radius: 50%;
        margin-right: 16px;
        position: relative;

        & i {
            color: @cl-Archiparti-white;
            font-size: 11px;
            margin-left: 0;
        }

        // модификатор для активного состояния уведомлений
        &--active {
            background: @cl-Archiparti-red;
            opacity: 1;
        }
    }

    &__wrapper--active &__number {
        display: inline-block;
    }
}