/* 960 + */
.b-brief {
    color: @cl-font-black;
    font-size: 12px;
    line-height: 20px;

    i {
        display: inline-block;
        margin: 0 5px 0 0;
        vertical-align: middle;
    }

    .no-touch &:hover {
        color: @cl-Archiparti-red;

        transition: all .5s ease;
    }

    // модификатор для брифа в меню
    &--menu {
        color: @cl-Archiparti-white;
        transform: translateY(50%);
        position: absolute;
        bottom: 0;
        z-index: 2;
        left: 0;
        padding: 0 0 12px 23px;
        width: calc(~"100% - 68px");
        transition: translateY 1s easy-out-in;
        opacity: 0;

        .no-touch &:hover {
            color: @cl-Archiparti-white;
        }
    }

    &--studio {
        font-size: 9px;
        line-height: 20px;
        opacity: 0.5;
        color: @cl-font-black;
        padding: 0 13px;
        // background: @cl-Archiparti-white;

        span,
        i {
            display: inline-block;
            vertical-align: middle;
        }

        span {
            padding-left: 4px;
        }

        .no-touch &:hover {
            color: @cl-font-black;
        }
    }

    .b-project-list__item--active &--studio {
        display: block;
        max-height: 22px;
        opacity: 1;
        position: relative;
    }


    .b-project-list__item--studio &--studio {
        max-height: 0;
        // position: absolute;
        opacity: 0;
        display: block;
    }

    .no-touch .b-project-list__item--studio:hover &--studio,
    .b-project-list__item--studio.active &--studio {
        display: block;
        max-height: 22px;
        position: relative;
        opacity: 1;
    }

    .no-touch .b-project-list__item:hover &--menu,
    .b-project-list__item.active &--menu {
        display: block;
        transform: translateY(0%);
        opacity: 1;
    }
}