/* 960 + */
.b-project-list {
    height: auto;
    position: relative;
    width: calc(~"100% + 12px");

    * {
        transition: all 0.3s ease-out;
    }

    .ps-scrollbar-y-rail {
        display: none;
    }

    &.noactive {
        display: none;
        opacity: 0;
    }

    //модификаторы для списка со студиями
    &--color,
    &--studio {
        display: inline-block;
        max-height: none;
        vertical-align: top;
    }

    //модификаторы для маленького меню
    &--min {
        height: auto;
    }

    //использовал на странице page-project-team, page-project
    &--project-diary {
        height: 100%;
        overflow-y: hidden;
        width: auto;
    }

    //модификаторы для списка со студиями
    &--color {
        height: auto;
        max-height: calc(~"100% - 208px");
        width: 55px;
    }

    //модификаторы для списка со студиями
    &--studio {
        position: relative;
        height: 100%;
        width: calc(~"100% + 22px");
        overflow-y: hidden;
        padding-right: 22px;
        padding-bottom: 16px;
    }

    &__link {
        background: @cl-Archiparti-bckground-menu-item;
        border: solid 2px @cl-Archiparti-black;
        display: flex;
        left: -2px;
        position: relative;
        width: calc(~"100% + 4px - 12px");
        z-index: 2;

        // transition: width 0.3s ease-out;

        &--color {
            width: calc(~"100% - 10px");

            .no-touch &:hover {
                width: calc(~"100% + 2px");
            }
        }
    }

    &__item {
        margin-top: -2px;
        position: relative;

        //модификаторы для списка со студиями
        &--color-studio {
            margin-right: 0;
        }

        &--color {
            width: calc(~"100% - 10px");

            .no-touch &:hover {
                width: calc(~"100% + 2px");
            }
        }

        //модификаторы для списка со студиями
        &--studio {
            background: none;
            border-top: solid 2px @cl-Archiparti-black;
            border-bottom: solid 2px @cl-Archiparti-black;
            border-right: solid 2px @cl-Archiparti-black;
            position: relative;
            transition: all .25s ease-in;

            .no-touch &:hover {
                background: none;
            }
        }
        

        &--active {
            background: none;

        }
    }

    .no-touch &__item:hover &__link, 
    &__item.active &__link{
        background: @cl-Archiparti-menu-item-1;
        opacity: 1;
        width: calc(~"100% + 2px");
    }

    //модификатор для другого цвета
    .no-touch &__item:hover &__link--red,
    &__item.active &__link--red {
        background: @cl-Archiparti-menu-item-2;
    }
    .no-touch &__item:hover &__link--orange,
    &__item.active &__link--orange {
        background: @cl-Archiparti-menu-item-3;
    }
    .no-touch &__item:hover &__link--green,
    &__item.active &__link--green {
        background: @cl-Archiparti-menu-item-4;
    }
    .no-touch &__item:hover &__link--blue,
    &__item.active &__link--blue {
        background: @cl-Archiparti-menu-item-5;
    }

}