/* 960 + */
.b-project-diary {
    &__wrapper-title { 
        border-bottom: 2px solid @cl-Archiparti-black;
        padding: 33px 30px 44px 22px;
    }

    &__list {
        margin-bottom: 176px;
    }

    &__last-text {
        font-size: 16px;
        color: @cl-Archiparti-white;
        text-align: center;
        margin-bottom: 30px;
    }
}